/* $Id$ */

fieldset.tobago-box-default {
  padding: 0px;
  padding-left: 10px;
}

.tobago-box-header-toolbar-div {
  right: -5px;
}
.tobago-box-toolbar-div {
  top: -15px;
  left: 2px;
  height: 31px;
  padding-top: 1px;
}

.tobago-box-toolbar-span {
  padding-bottom: 0px;
}

.tobago-textarea-default {
  margin-top: -1 px;
  margin-bottom: -1 px;
}

.tobago-textbox-default {
  margin-top: -1 px;
  margin-bottom: -1 px;
}

textarea.tobago-richtexteditor-body {
  margin-top: -1 px;
  margin-bottom: -1 px;
}

.tobago-label-default {
  margin-top: -2px;
}

.tobago-file-default {
  height: 23px;
}

.tobago-toolbar-default {
  height: 31px;
}

.tobago-toolbar-div-inner {
 height: 27px;
}

.tobago-toolbar-button-image {
  margin-bottom: 0px;
  position: relative;
  top: -1px;
}


.tobago-toolbar-button-popup-span {
  padding-right: 10px;
}

.tobago-toolbar-button-menu {
  top:-5px;
}

