/* $Id$ */

fieldset.tobago-box-default {
  padding: 0px;
  padding-left: 10px;
}

.tobago-box-header-toolbar-div {
  right: -5px;
}
.tobago-box-toolbar-div {
  top: -15px;
  left: 2px;
  height: 31px;
  padding-top: 1px;
}

.tobago-box-toolbar-span {
  padding-bottom: 0px;
}

.tobago-textArea-default {
  margin-top: -1 px;
  margin-bottom: -1 px;
}

.tobago-in-default {
  margin-top: -1 px;
  margin-bottom: -1 px;
}

textarea.tobago-richTextEditor-body {
  margin-top: -1 px;
  margin-bottom: -1 px;
}

.tobago-label-default {
  margin-top: -2px;
}

.tobago-file-default {
  height: 23px;
}

.tobago-toolBar-default {
  height: 31px;
}
/*
.tobago-toolBar-div-inner {
 height: 27px;
}*/

.tobago-toolBar-button-hover-0 {
 padding-left: 6px;
}
.tobago-box-toolBar-button-hover-0 {
 padding-right: 6px;
}

.tobago-toolBar-button-image {
  margin-bottom: 0px;
  position: relative;
  top: -1px;
}


.tobago-toolBar-button-popup-span {
  padding-right: 10px;
}

.tobago-toolBar-button-menu {
}

a:link.tobago-toolBar-button-link, a:visited.tobago-toolBar-button-link, a:active.tobago-toolBar-button-link {
   color: #000000;
}