/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.box-shadow {
  box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.5);
}

.demo-selected {
  background-color: #ffddff;
}

#demo-view-source .demo-selected {
  border: 1px solid #cccccc;
}

.blue {
  background-color: #2aabff;
}

.demo-data-attribute {
  height: 100px;
  border: 1px solid #000000;
  border-radius: .25rem;
}

pre, code {
  font-size: 75%;
}

/* todo: should be switchable
.comment {
  display: none;
}
*/

/* Prism and Bootstrap both use "tag" as CSS class name. So we need to "fix" some stuff. */
.language-markup .token.tag {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  /*display: inherit;*/
  white-space: inherit;
  text-align: inherit;
  padding: inherit;
}

.planet {
  background-color: #5cb85c;
}

.old-planet {
  background-color: #b3d4fc;
}

/*.alert.alert-dismissible {
  padding-left: 2.75rem;
}

.alert.alert-dismissible:before {
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  width: 2.75rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 0.75rem;
}

.alert.alert-dismissible.alert-danger:before {
  !* exclamation-circle *!
  !*content: "\f06a";*!
  !* times-circle *!
  content: "\f057";
}

!* fa-exclamation-triangle *!
.alert.alert-dismissible.alert-warning:before {
  content: "\f071";
}

!* info *!
.alert.alert-dismissible.alert-info:before {
  content: "\f129";
}*/
