# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"
    schedule:
      interval: "daily"
    ignore:
      # since 3.3.0 maven-source-plugin must not be configured twice; try upgrade if using myfaces-master-pom version 20
      - dependency-name: "org.apache.maven.plugins:maven-source-plugin"
        versions:
          - ">= 3.3.0"
      - dependency-name: "org.antlr:stringtemplate"
        versions:
          - ">= 4.0.0"
      # jakarta.el-api 5.0 is Jakarta EE 10
      - dependency-name: "jakarta.el:jakarta.el-api"
        versions:
          - ">= 6.0.0"
      # jakarta.enterprise.cdi-api 4.0 is Jakarta EE 10
      - dependency-name: "jakarta.enterprise:jakarta.enterprise.cdi-api"
        versions:
          - ">= 4.1.0"
      # jakarta.servlet.jsp.jstl-api 3.0 is Jakarta EE 10
      - dependency-name: "jakarta.servlet.jsp.jstl:jakarta.servlet.jsp.jstl-api"
        versions:
          - ">= 4.0.0"
      # jakarta.annotation-api 2.1 is Jakarta EE 10
      - dependency-name: "jakarta.annotation:jakarta.annotation-api"
        versions:
          - ">= 3.0.0"
      # jakarta.servlet:jakarta.servlet-api 6.0 is Jakarta EE 10
      - dependency-name: "jakarta.servlet:jakarta.servlet-api"
        versions:
          - ">= 6.1.0"
      # Jakarta Bean Validation 3.0 is Jakarta EE 10
      - dependency-name: "jakarta.validation:jakarta.validation-api"
        versions:
          - ">= 3.1.0"
      # hibernate-validator 7 is Jakarta EE 9/10 Bean Validation 3.0
      - dependency-name: "org.hibernate.validator:hibernate-validator"
        versions:
          - ">= 8.0.0"
      # weld 6 is Jakarta EE 11 CDI 4.1
      - dependency-name: "org.jboss.weld.servlet:weld-servlet-shaded"
        versions:
          - ">= 6.0.0"
      # Mojarra 4 is Jakarta EE 10 Faces 4.0
      - dependency-name: "org.glassfish:jakarta.faces"
        versions:
          - ">= 5.0.0"
      # MyFaces 4.0 is Jakarta EE 10 Faces 4.0
      - dependency-name: "org.apache.myfaces.core:myfaces-api"
        versions:
          - ">= 4.1.0"
      - dependency-name: "org.apache.myfaces.core:myfaces-impl"
        versions:
          - ">= 4.1.0"
      # Mojarra 4.0 is Jakarta EE 10 Faces 4.0
      - dependency-name: "org.glassfish:jakarta.faces"
        versions:
          - ">= 4.1.0"
      # Jakarta Persistence 3.1 is Jakarta EE 10
      - dependency-name: "jakarta.persistence:jakarta.persistence-api"
        versions:
          - ">= 3.2.0"
      # Jakarta XML Binding 4.0 is Jakarta EE 10
      - dependency-name: "jakarta.xml.bind:jakarta.xml.bind-api"
        versions:
          - ">= 5.0.0"

  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "tobago-5.x"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"
    schedule:
      interval: "daily"
    ignore:
      # since 3.3.0 maven-source-plugin must not be configured twice; try upgrade if using myfaces-master-pom version 20
      - dependency-name: "org.apache.maven.plugins:maven-source-plugin"
        versions:
          - ">= 3.3.0"
      # Jetty >= 10 requires jdk 11
      - dependency-name: "org.eclipse.jetty:jetty-maven-plugin"
        versions:
          - ">= 10.0.0"
      - dependency-name: "org.apache.myfaces.core:myfaces-api"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.apache.myfaces.core:myfaces-impl"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.glassfish:jakarta.faces"
        versions:
          - ">= 3.0.0"
      - dependency-name: "jakarta.inject:jakarta.inject-api"
        versions:
          - ">= 2.0.0"
      - dependency-name: "jakarta.enterprise:jakarta.enterprise.cdi-api"
        versions:
          - ">= 3.0.0"
      - dependency-name: "jakarta.servlet:jakarta.servlet-api"
        versions:
          - ">= 5.0.0"
      - dependency-name: "org.apache.openwebbeans:*"
        versions:
          - ">= 3.0.0"
      - dependency-name: "jakarta.servlet.jsp.jstl:jakarta.servlet.jsp.jstl-api"
        versions:
          - ">= 2.0.0"
      - dependency-name: "jakarta.validation:jakarta.validation-api"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.apache.bval:bval-jsr"
        versions:
          - ">= 3.0.0"
      - dependency-name: "jakarta.el:jakarta.el-api"
        versions:
          - ">= 4.0.0"
      - dependency-name: "jakarta.annotation:jakarta.annotation-api"
        versions:
          - ">= 2.0.0"
      - dependency-name: "org.glassfish:jakarta.json"
        versions:
          - ">= 2.0.0"
      - dependency-name: "org.jboss.weld.servlet:weld-servlet-shaded"
        versions:
          - ">= 4.0.0"
      - dependency-name: "org.hibernate.validator:hibernate-validator"
        versions:
          - ">= 7.0.0"
      - dependency-name: "org.antlr:stringtemplate"
        versions:
          - ">= 4.0.0"
      - dependency-name: "org.apache.maven.plugins:maven-checkstyle-plugin"
        versions:
          - ">=3.1.0"
      - dependency-name: "org.apache.maven.plugins:maven-enforcer-plugin"
        versions:
          - ">= 3.0.0"
      # needs jakarta namespace
      - dependency-name: "org.apache.tomee.maven:tomee-maven-plugin"
        versions:
          - ">= 9.0.0"
      # todo: update quarkus
      - dependency-name: "io.quarkus:quarkus-maven-plugin"
        versions:
          - ">= 2.0.0"
      - dependency-name: "quarkus.version"
        versions:
          - ">= 2.0.0"
      - dependency-name: "org.apache.tomcat.embed:*"
        versions:
          - ">= 10.0.0"
      # Logback >= 1.4 requires Java 11
      - dependency-name: "ch.qos.logback:*"
        versions:
          - ">= 1.4.0"
      # needs jakarta namespace
      - dependency-name: "org.springframework.boot:*"
        versions:
          - ">= 3.0.0"
      # needs jakarta namespace
      - dependency-name: "org.springframework:*"
        versions:
          - ">= 6.0.0"
      # needs jakarta namespace
      - dependency-name: "org.joinfaces:*"
        versions:
          - ">= 5.0.0"

  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "tobago-4.x"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "com.sun.faces:jsf-api"
      - dependency-name: "com.sun.faces:jsf-impl"
      # Jetty >= 10 requires jdk 11
      - dependency-name: "org.eclipse.jetty:jetty-maven-plugin"
        versions:
          - ">= 10.0.0"
      - dependency-name: "org.apache.myfaces.core:myfaces-api"
        versions:
          - ">= 2.1.0"
      - dependency-name: "org.apache.myfaces.core:myfaces-impl"
        versions:
          - ">= 2.1.0"
      - dependency-name: "org.glassfish:jakarta.faces"
        versions:
          - ">= 3.0.0"
      - dependency-name: "jakarta.inject:jakarta.inject-api"
        versions:
          - ">= 2.0.0"
      - dependency-name: "jakarta.servlet.jsp.jstl:jakarta.servlet.jsp.jstl-api"
        versions:
          - ">= 2.0.0"
      - dependency-name: "jakarta.validation:jakarta.validation-api"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.apache.bval:bval-jsr"
        versions:
          - ">= 3.0.0"
      - dependency-name: "jakarta.el:jakarta.el-api"
        versions:
          - ">= 4.0.0"
      - dependency-name: "jakarta.annotation:jakarta.annotation-api"
        versions:
          - ">= 2.0.0"
      - dependency-name: "org.glassfish:jakarta.json"
        versions:
          - ">= 2.0.0"
      - dependency-name: "org.jboss.weld.servlet:weld-servlet-shaded"
        versions:
          - ">= 4.0.0"
      - dependency-name: "org.hibernate:hibernate-validator"
        versions:
          - ">= 5.0.0"
      - dependency-name: "org.hibernate.validator:hibernate-validator"
        versions:
          - ">= 7.0.0"
      - dependency-name: "org.antlr:stringtemplate"
        versions:
          - ">= 4.0.0"
      - dependency-name: "org.apache.tomcat:tomcat-el-api"
        versions:
          - ">= 10.0.0"
      - dependency-name: "org.apache.tomcat:tomcat-jasper-el"
        versions:
          - ">= 10.0.0"
      - dependency-name: "org.apache.maven.plugins:maven-checkstyle-plugin"
        versions:
          - ">=3.1.0"
      - dependency-name: "org.apache.maven.plugins:maven-enforcer-plugin"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.seleniumhq.selenium:selenium-java"
        versions:
          - ">= 4.0.0"
      - dependency-name: "org.wildfly.plugins:wildfly-maven-plugin"
        versions:
          - ">= 3.0.0"
      # Logback >= 1.4 requires Java 11
      - dependency-name: "ch.qos.logback:*"
        versions:
          - ">= 1.4.0"
      - dependency-name: "org.apache.deltaspike.modules:deltaspike-jsf-module-impl"
        versions:
          - ">= 2.0.0"
      - dependency-name: "com.google.javascript:closure-compiler"
        versions:
          - ">= v20250402" # requires Java 21

  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "tobago-2.x"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "org.apache.myfaces.core:myfaces-api"
        versions:
          - ">= 2.1.0"
      - dependency-name: "org.apache.myfaces.core:myfaces-impl"
        versions:
          - ">= 2.1.0"
      - dependency-name: "com.sun.faces:jsf-api"
        versions:
          - ">= 2.1.0"
      - dependency-name: "com.sun.faces:jsf-impl"
        versions:
          - ">= 2.1.0"
      - dependency-name: "org.apache.openwebbeans:*"
        versions:
          - ">= 1.5.0"
      - dependency-name: "org.apache.bval:bval-jsr"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.apache.maven.plugins:maven-antrun-plugin"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.apache.openjpa:openjpa-persistence-jdbc"
        versions:
          - ">= 2.0.0"
      - dependency-name: "org.apache.maven.plugins:maven-javadoc-plugin"
        versions:
          - ">= 3.0.0"
      - dependency-name: "org.springframework:spring-orm"
        versions:
          - ">= 5.0.0"
      - dependency-name: "org.springframework:spring-jdbc"
        versions:
          - ">= 5.0.0"
      - dependency-name: "org.springframework:spring-web"
        versions:
          - ">= 5.0.0"
      - dependency-name: "javax.servlet.jsp:jsp-api"
        versions:
          - ">= 2.2"
      - dependency-name: "org.antlr:stringtemplate"
        versions:
          - ">= 3.1"
      - dependency-name: "org.eclipse.jetty:jetty-maven-plugin"
        versions:
          - ">= 10.0.0"
      - dependency-name: "org.seleniumhq.selenium:selenium-java"
        versions:
          - ">= 3.0.0"
      # Logback >= 1.4 requires Java 11
      - dependency-name: "ch.qos.logback:*"
        versions:
          - ">= 1.4.0"
      # plexus-utils 4 is for Maven 4
      - dependency-name: "org.codehaus.plexus:plexus-utils"
        versions:
          - ">= 4.0.0"
      # plexus-xml 4 is for Maven 4
      - dependency-name: "org.codehaus.plexus:plexus-xml"
        versions:
          - ">= 4.0.0"
      - dependency-name: "org.apache.deltaspike.modules:deltaspike-jsf-module-impl"
        versions:
          - ">= 2.0.0"
      - dependency-name: "com.google.javascript:closure-compiler"
        versions:
          - ">= v20250402" # requires Java 21

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every day
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "tobago-5.x"
    schedule:
      # Check for updates to GitHub Actions every day
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "tobago-4.x"
    schedule:
      # Check for updates to GitHub Actions every day
      interval: "monthly"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "tobago-2.x"
    schedule:
      # Check for updates to GitHub Actions every day
      interval: "monthly"

  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "/tobago-theme"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"
    # Check the npm registry for updates every day (weekdays)
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "/tobago-example/tobago-example-demo"
    commit-message:
      prefix: "build"
      prefix-development: "build"
      include: "scope"
    schedule:
      interval: "monthly"
