/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
demo-sidebar {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  right: 0;
}
demo-sidebar strong {
  padding-left: calc(2px + 0.25rem);
}
demo-sidebar nav ul {
  padding-left: 0;
}
demo-sidebar nav > a {
  padding-left: 0.25rem;
}
demo-sidebar nav li a {
  padding-left: 0.75rem;
}
demo-sidebar nav li li a {
  padding-left: 1.5rem;
}
demo-sidebar nav li li li a {
  padding-left: 2.25rem;
}
demo-sidebar nav li li li li a {
  padding-left: 3rem;
}
demo-sidebar nav li li li li li a {
  padding-left: 3.75rem;
}
demo-sidebar nav li li li li li li a {
  padding-left: 4.5rem;
}
demo-sidebar nav li li li li li li li a {
  padding-left: 5.25rem;
}
demo-sidebar nav li li li li li li li li a {
  padding-left: 6rem;
}
demo-sidebar nav li li li li li li li li li a {
  padding-left: 6.75rem;
}
demo-sidebar nav li li li li li li li li li li a {
  padding-left: 7.5rem;
}
demo-sidebar nav a {
  font-size: 0.875rem;
  color: var(--bs-secondary);
  text-decoration: none;
  border-left: 2px solid transparent;
  display: block;
  margin-top: 3px;
  margin-bottom: 3px;
}
demo-sidebar nav a:hover {
  text-decoration: underline;
}
demo-sidebar nav a.active {
  color: var(--bs-primary);
  border-left-color: var(--bs-primary);
}
demo-sidebar nav ul, demo-sidebar nav li {
  list-style: none;
}

html {
  scroll-padding-top: 72px;
}

#page\:navigation\:nav tobago-tree-node[data-tobago-level="0"], #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="0"] {
  font-weight: bold;
  margin-top: 1rem;
  white-space: nowrap;
}
#page\:navigation\:nav tobago-tree-node[data-tobago-level="0"][index="1"], #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="0"][index="1"] {
  margin-top: 0;
}
#page\:navigation\:nav tobago-tree-node[data-tobago-level="1"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="2"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="3"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="4"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="5"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="1"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="2"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="3"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="4"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="5"] a {
  padding: 0.25rem;
  color: var(--bs-secondary);
  border-radius: var(--bs-border-radius);
}
#page\:navigation\:nav tobago-tree-node[data-tobago-level="1"] a:hover, #page\:navigation\:nav tobago-tree-node[data-tobago-level="2"] a:hover, #page\:navigation\:nav tobago-tree-node[data-tobago-level="3"] a:hover, #page\:navigation\:nav tobago-tree-node[data-tobago-level="4"] a:hover, #page\:navigation\:nav tobago-tree-node[data-tobago-level="5"] a:hover, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="1"] a:hover, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="2"] a:hover, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="3"] a:hover, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="4"] a:hover, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="5"] a:hover {
  background-color: rgba(var(--bs-secondary-rgb), 0.1);
}
#page\:navigation\:nav tobago-tree-node[data-tobago-level="1"] a.active, #page\:navigation\:nav tobago-tree-node[data-tobago-level="2"] a.active, #page\:navigation\:nav tobago-tree-node[data-tobago-level="3"] a.active, #page\:navigation\:nav tobago-tree-node[data-tobago-level="4"] a.active, #page\:navigation\:nav tobago-tree-node[data-tobago-level="5"] a.active, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="1"] a.active, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="2"] a.active, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="3"] a.active, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="4"] a.active, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="5"] a.active {
  color: var(--bs-primary);
  background-color: rgba(var(--bs-primary-rgb), 0.1);
}
#page\:navigation\:nav tobago-tree-node[data-tobago-level="2"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="3"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="4"] a, #page\:navigation\:nav tobago-tree-node[data-tobago-level="5"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="2"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="3"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="4"] a, #page\:navigation-small\:nav-small tobago-tree-node[data-tobago-level="5"] a {
  font-size: small;
}

.hide-navigation {
  display: none;
}

.navigation-box {
  --bs-card-border-radius: 0;
  border: none;
}

.box-shadow {
  box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.5);
}

.demo-selected {
  background-color: #ffddff;
}

#demo-view-source .demo-selected {
  border: 1px solid #cccccc;
}

.blue {
  background-color: #2aabff;
}

.demo-data-attribute {
  height: 100px;
  border: 1px solid #000000;
  border-radius: 0.25rem;
}

demo-highlight {
  font-size: 75%;
}

/* todo: should be switchable
.comment {
  display: none;
}
*/
/* Prism and Bootstrap both use "tag" as CSS class name. So we need to "fix" some stuff. */
.language-markup .token.tag {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  /*display: inherit;*/
  white-space: inherit;
  text-align: inherit;
  padding: inherit;
}

.planet {
  --bs-table-bg: #5cb85c;
}

.old-planet {
  --bs-table-bg: #b3d4fc;
}

.tobago-sheet-cell-markup-sun {
  background-color: #fffacd;
}

.tobago-sheet-cell-markup-planet {
  background-color: #ffb6c1;
}

.tobago-sheet-cell-markup-moon {
  background-color: #6495ed;
}

td.demo-lightgreen {
  background-color: #ddffdd;
}

td.demo-lightred {
  background-color: #ffdddd;
}

tobago-tree .tobago-selected {
  font-weight: bold;
}
tobago-tree .tobago-selected a {
  background-color: #ceecf5;
}

.testframe-wrapper {
  display: inline-block;
  border: 1px solid;
  text-align: center;
  margin-bottom: 2px;
}

tobago-sheet.vertical-border-big td {
  border-left: 7px solid;
  border-right: 13px solid;
}

.popover-600 {
  --bs-popover-max-width: 600px;
}

.text-red {
  color: #ff4f00;
}

.text-green {
  color: #30cd00;
}

.text-blue {
  color: #009aff;
}

.transformX0 {
  transform: translateX(0);
}

.text-tertiary-color {
  color: var(--bs-tertiary-color);
}

/*# sourceMappingURL=demo.css.map */
