/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme: scarborough
 * agent: msie
 */

/* box ---------------------------------------------------------------- */

fieldset.tobago-box {
  padding: 0px;
  padding-left: 10px;
}

.tobago-box-toolbarOuter {
  top: -15px;
  right: -2px;
  height: 31px;
/*  padding-top: 1px;*/
}

.tobago-box-toolbarInner {
  padding-bottom: 0px;
}

/* file ---------------------------------------------------------------- */

.tobago-file {
  height: 23px;
}

/* menu ---------------------------------------------------------------- */

/* workaround for IE6 */
.tobago-menu-ie6bugfix {
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: mask();
}

/* popup -------------------------------------------------------------- */

.tobago-popup-shield {
  filter: alpha( opacity = 40 );
}

.tobago-popup-ie6bugfix {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}

.tobago-popup-iebugfix {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -2px;
  left: -2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}
