
.tobago-sheet-header-div {
  padding-left: 1px;
  height: 20px;
  border-bottom: 1px solid #ffffff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-sheet-header{
	border-color: #b8b6b6 #ffffff #b8b6b6 #b8b6b6;
	background-color: #d7d7d7;
  font: bold 12px arial, helvetica, sans-serif;
  color: #333333;
  cursor: pointer;
  text-align: left;
  padding: 2px 2px 0px 3px;
}

.tobago-sheet-body-table  {
/* none defined so far, but class attribute is generated */
}

.tobago-sheet-body-div {
  padding-top: 20px;
  background: #D7D7D7;
  border: 1px solid #CCCCCC;
}

.tobago-sheet-content-odd {
  font: 12px arial, helvetica, sans-serif;
  background: #ffffff;
}

.tobago-sheet-content-even {
  font: 12px arial, helvetica, sans-serif;
  background: #ffffff;
}

.tobago-sheet-row-selected {
	background: #EBEAEA;
	color: #000000;
}

.tobago-sheet-cell-td {
  border-bottom: 1px solid #E2E2E2;
}

.tobago-sheet-cell-inner {
  padding: 3px 0px 0px 2px;
}

.tobago-sheet-footer-table-td {
  background: #E2E2E2;
  font: bold 10px arial, helvetica, sans-serif;
  color: #333333;
  text-decoration: none;
  padding: 0px;
  padding-left: 2px;
}

.tobago-sheet-footer-table-td a:hover  {
  text-decoration: underline;
}
