
.tobago-menuBar-default {
  height: 17px;
  border: 1px solid gray;
  background: #dddddd;
}

.tobago-menuBar-page-facet {
  height: 22px;
}

.tobago-menuBar-item-page-facet {
  font: bold 12px arial, helvetica, sans-serif;
}

.tobago-menuBar-container {
  font: normal 12px arial, helvetica, sans-serif;
}

.tobago-menuBar-subitem-container {
  border: 1px solid gray;
  background: #dddddd;
  z-index: 1000;
}

.tobago-menu-item {
  height: 16px;
  z-index: 1000;
}


.tobago-menu-item-hover {
  background: #bbbbbb;
}

.tobago-menu-item-focus {
  background: #bbbbbb;
}

.tobago-menuBar-item-span {
  left: 20px;
  text-decoration: none;
}

.tobago-menuBar-item-span-enabled {

}

.tobago-menuBar-item-span-disabled {
  color: #888888;
}

.tobago-menuBar-item-span-top {
  left: 0px;
}

.tobago-menuBar-item-page-top {
  top: 3px;
}

.tobago-menu-item-image {
  width: 16px;
  height: 16px;
}

.tobago-menu-subitem-arrow {
  width: 16px;
  height: 16px;
}

.tobago-toolBarButton-menu-item {
  padding-top: 2px;
  background: red;
}

