/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme: richmond
 * agent: standard
 */

/* box ----------------------------------------------------------------- */

.tobago-box {
  background: #E6E6E6;
  border: 1px solid #FF9900;
}

.tobago-box-header {
  background: #FFCC66 none;
  color: #3366CC;
  border-bottom: 1px solid #FF9900;
}

/* toolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"
   FIXME may be fixed after TOBAGO-900
*/

.tobago-boxToolBar {
  border-color: #FF9900;
}

.tobago-boxToolBar-item-markup-selected {
  border-color: #FF9900;
}

.tobago-boxToolBar-item-markup-hover {
  border-color: #3366CC;
}

.tobago-boxToolBar-button-markup-selected {
  background-color: #FFCC66;
}

.tobago-boxToolBar-button-markup-hover {
  background-color: #FAB54D;
}

/* button ------------------------------------------------------------ */

.tobago-button {
  border: 1px #FF7D00 solid;
  background: #FFCC66;
  font: 11px arial, helvetica, sans-serif;
  color: #3366CC;
}

.tobago-button-markup-disabled {
  color: gray;
}

/* - calendar --------------------------------------------------------------- */

td.tobago-calendar-day-markup-selected {
  background-color: #99CCFF;
}

/* date ---------------------------------------------------------------------- */

.tobago-date {
  border: 1px #3366CC solid;
  font: 12px arial, helvetica, sans-serif;
  color: #3366CC;
}

.tobago-date-markup-readonly {
  background-color: #e6e6e6;
  color: #3366cc;
}

.tobago-date-markup-disabled {
  color: #3366cc;
  background-color: #e6e6e6;
}

.tobago-date-markup-error, .tobago-date-markup-error {
  border: 1px solid #ff0000;
}

/* file ------------------------------------------------------------ */

.tobago-file {
  height: 20px;
}

/* label ------------------------------------------------------------ */

.tobago-label {
  background-color: #99ccff;
  color: #3366cc;
}

.tobago-label-markup-disabled {
  color: #808080;
}

.tobago-label-markup-fatal {
  color: #FF00FF;
}

.tobago-label-markup-error {
  color: #FF0000;
}

.tobago-label-markup-warn {
  color: #FFA500;
}

.tobago-label-markup-info {
  color: #000000;
}

/* in ---------------------------------------------------------------------- */

.tobago-in {
  border: 1px #3366CC solid;
  font: 12px arial, helvetica, sans-serif;
  color: #3366CC;
}

.tobago-in-markup-readonly {
  background-color: #e6e6e6;
  color: #3366cc;
}

.tobago-in-markup-disabled {
  color: #3366cc;
  background-color: #e6e6e6;
}

.tobago-in-markup-error, .tobago-in-markup-fatal {
  border: 1px solid #ff0000;
}

/* link ----------------------------------------------------------------- */

.tobago-link {
  font: bold 12px arial, helvetica, sans-serif;
  color: #3366cc;
  text-decoration: none;
}

.tobago-link-markup-disabled {
  color:#888888
}

a:link.tobago-link, a:visited.tobago-link, a:active.tobago-link {
  color: #3366cc;
}

/* menuBar ----------------------------------------------------------------- */

.tobago-menuBar li {
  background-color: #FFCC66;
}

li.tobago-menu-markup-selected {
  background-color: #FF9900;
}

.tobago-menuBar {
  border-bottom-color: #FF9900;
  background-color: #FFCC66;
}

.tobago-menuBar ol {
  border-color: #000000;
}

/* page --------------------------------------------------------------------- */

.tobago-page {
  background: #ffffff;
  font: 11px arial, helvetica, sans-serif;
  color: #3366CC;
  margin-bottom: 0px;
}

/* progress --------------------------------------------------------- */

.tobago-progress-value {
  background-color: #3366cc;
}

.tobago-progress {
  background-color: #6699ff;
}

/* separator ------------------------------------------------------------------- */

.tobago-separator hr {
  border-bottom-color: #3366cc;
}

/* sheet ----------------------------------------------------------------- */

.tobago-sheet-headerDiv {
  border-bottom: 1px solid #d6ebff;
}

.tobago-sheet-header {
	border-color: #d6ebff #3366CC #d6ebff #d6ebff;
  background-color: #d6ebff;
  color: #3366CC;
  font: bold 13px arial, helvetica, sans-serif;
}

.tobago-sheet-body {
  background: #EBEFEB;
}

.tobago-sheet-row-markup-odd {
  background: #EBEFEB;
}

.tobago-sheet-row-markup-even {
  background: #EBEFEB;
}

.tobago-sheet-row-markup-selected, .tobago-sheet-row-markup-selected td {
	background: highlight;
	color: highlighttext;
}

.tobago-sheet-footer {
  border-top: 1px dotted #3366CC;
  background: #ffffff;
  font: bold 11px arial, helvetica, sans-serif;
  color: #3366CC;
  text-decoration: none;
}

.tobago-sheet-pagingInput {
  border: 1px #3366CC solid;
}

/* tab ---------------------------------------------------------------------- */

.tobago-tab {
  background: #6699FF repeat-x top;
  border-color: #3366CC;
  color: #D6EBFF;
}

.tobago-tab-content {
  border-color: #3366CC;
  background: #FAFAFA;
}

.tobago-tab a:link,
.tobago-tab a:visited,
.tobago-tab a:active {
  color: #D6EBFF;
}

.tobago-tab-markup-disabled,
.tobago-tab-markup-disabled a:link,
.tobago-tab-markup-disabled a:visited,
.tobago-tab-markup-disabled a:active {
  background: #808080 repeat-x top;
  color: #e6e6e6;
}

.tobago-tabGroup-headerInner {
  border-bottom-color: #3366CC;
}

.tobago-tabGroup-toolBar {
  border-bottom-color: #3366CC;
}

/* toolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"
   FIXME may be fixed after TOBAGO-900
*/

.tobago-tabGroupToolBar {
  border-color: #FF9900;
}

.tobago-tabGroupToolBar-item-markup-selected {
  border-color: #FF9900;
}

.tobago-tabGroupToolBar-item-markup-hover {
  border-color: #3366CC;
}

.tobago-tabGroupToolBar-button-markup-selected {
  background-color: #FFCC66;
}

.tobago-tabGroupToolBar-button-markup-hover {
  background-color: #FAB54D;
}

/* time -------------------------------------------------------------------- */

.tobago-time-borderDiv {
  border-color: #3366CC;
}

.tobago-time-input {
  color: #3366CC;
}

.tobago-time-input-markup-selected {
  background: #D6EBFF;
}

/* textarea -------------------------------------------------------------- */

.tobago-textarea {
  font: 12px arial, helvetica, sans-serif;
  color: #3366CC;
  border: 1px solid #3366CC;
}

.tobago-textarea-markup-readonly {
  background-color: #e6e6e6;
}

.tobago-textarea-markup-disabled {
  color: #808080;
  background-color: #e6e6e6;
}

.tobago-textarea-markup-error, .tobago-textarea-markup-fatal {
  border: 1px solid #ff0000;
}

/* toolBar ----------------------------------------------------------------- */

.tobago-toolBar {
  border-color: #FF9900;
}

.tobago-toolBar-item-markup-selected {
  border-color: #FF9900;
}

.tobago-toolBar-item-markup-hover {
  border-color: #3366CC;
}

.tobago-toolBar-button-markup-selected {
  background-color: #FFCC66;
}

.tobago-toolBar-button-markup-hover {
  background-color: #FAB54D;
}

/* tree ------------------------------------------------------------------- */

a.tobago-treeNode a:hover {
  color: #6699ff;
  text-decoration: underline;
}

a.tobago-treeNode a:focus {
  background: #d6ebff;
  color: #3366cc;
}

/* treeMenu ------------------------------------------------------------------- */

a.tobago-treeMenuNode a:hover {
  color: #6699ff;
  text-decoration: underline;
}

a.tobago-treeMenuNode a:focus {
  background: #d6ebff;
  color: #3366cc;
}

