/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme: standard
 * agent: standard
 */

/* Global settings ------------------------------------------------------------------ */

form {
  margin: 0;
}

/*
  This is to make the menu bar to be always at the top of the page.
  The "position: fixed;" doesn't work with ie6 and makes
  on other browsers problems, when clicking the menu (the scroll panel scrolls then).
*/
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* in ------------------------------------------------------------ */

.tobago-in-suggestPopup a {
  text-decoration: none;
  color: black;
}

