/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme: standard
 * agent: standard
 */

/* button -------------------------------------------------------------- */

/* XXX fixes a problem with image in button inside a segmentLayout (with FF40 and IE11)
   test page: buttons-with-image.xhtml
   This might not be a good solution, is works only with images not larger then 16px
*/
.tobago-button > img {
  margin-top: -1px;
  margin-bottom: -1px;
}

/* date -------------------------------------------------------------- */

/* XXX hack */
.ui-datepicker-trigger {
  display: none;
}

/* for pickers with more than one icon, e.g. date-time picker */
.btn > span.glyphicon:nth-child(n+2) {
  margin-left: .3em;
}

/* flexLayout -------------------------------------------------------------- */

.tobago-flexLayout {
    display: -webkit-flex; /* needed e.g. for Safari 8.0.2 */
    display: -ms-flexbox; /* needed for IE 10 */
    display: flex;

    /* XXX it overrides the 15px from bootstrap .form-group, TODO: check if this is a good solution */
    margin-bottom: 5px;
}

.tobago-flexLayout-markup-vertically {
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.tobago-flexLayout > .form-control:nth-child(n+2),
.tobago-flexLayout > .input-group:nth-child(n+2),
.tobago-flexLayout > .tobago-out:nth-child(n+2),
.tobago-flexLayout > .tobago-panel:nth-child(n+2),
.tobago-flexLayout > .tobago-label:nth-child(n+2),
.tobago-flexLayout > .twitter-typeahead:nth-child(n+2) {
    margin-left: 5px;
}

/* footer -------------------------------------------------------------- */

.tobago-footer {
  background-color: #ffffff;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 5px 5px rgba(200,200,200,0.5);
  -moz-box-shadow: 0 0 5px 5px rgba(200,200,200,0.5);
  box-shadow: 0 0 5px 5px rgba(200,200,200,0.5);
}

.navbar-fixed-bottom {
  margin-top: 10px;
}

/* gridLayout -------------------------------------------------------------- */

.tobago-gridLayout {
    width: 100%;
    height: 100%;
/*
    border-spacing: 5px;
    border-collapse: separate;
*/
    border-spacing: 0;
    border-collapse: collapse;
}

table.tobago-gridLayout > tbody > tr > td {
    vertical-align: top;
    padding: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
}

table.tobago-gridLayout > tbody > tr > td:first-child {
    border-left: 0;
}

table.tobago-gridLayout > tbody > tr:first-child > td {
    border-top: 0;
}

/* in ----------------------------------------------------------- */

.tobago-in-markup-number {
  text-align: right;
}

/* messages ----------------------------------------------------------- */

.tobago-messages-item {
  display: block;
}

.tobago-messages-item:last-child {
  margin-bottom: 0;
}

/* nav ----------------------------------------------------------- */

/* styles for drop down menu with deeper level */
.dropdown-submenu {
  position: relative;
}

/* no bottom border in navtabs, if panel-body under it */
.nav-tabs {
  border-bottom-width: 0;
}

.nav-tabs > li.active > a {
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  border-bottom: #dddddd;
}

.nav-tabs > li.active > a:hover {
  border-bottom: #dddddd;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* out -------------------------------------------------------------------- */

.tobago-out-markup-strong {
  font-weight: bold;
}

.tobago-out-markup-deleted {
  text-decoration: line-through;
}

.tobago-out-markup-number {
  display: block;
  text-align: right;
}

/* page ----------------------------------------------------------- */

.tobago-page-overlay {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* TODO: better z-index strategy */
  z-index: 500; /* less than the bootstrap navbar */
}

.tobago-page-overlay-markup-wait {
  cursor: wait;
}

.tobago-page-overlay-markup-error {
  cursor: default;
}

.tobago-page-overlayCenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  /* TODO: better z-index strategy */
  z-index: 500; /* less than the bootstrap navbar */
}

.tobago-page-overlayCenter img {
  position: relative;
}

.tobago-page-overlayBackgroundImage {
  display: none;
}

.tobago-page-noscript {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  height: 50px;
  border: 1px solid black;
  padding: 30px;
  background-color: white;
  font-size: 15px;
}

.tobago-page-preventFrameAttacks {
  display: none;
}

/* section ----------------------------------------------------------- */

/* to separate the icon from the rest of the title */
h1 > .glyphicon:first-child,
h2 > .glyphicon:first-child,
h3 > .glyphicon:first-child,
h4 > .glyphicon:first-child,
h5 > .glyphicon:first-child,
h6 > .glyphicon:first-child {
  margin-right: 1em;
}

/* selectManyCheckbox ----------------------------------------------------------- */

.tobago-selectManyCheckbox {
  list-style: none;
}

/* selectOneRadio ---------------------------------------------------------- */

.tobago-selectOneRadio {
  list-style: none;
}

/* segmentLayout ----------------------------------------------------------- */

.tobago-segmentLayout {
  /*
  Makes, that the height of the div is set.
  Otherwise floating elements below, may flew into the area of the segmentLayout.
  */
  display: inline-block;
}

/* sheet -------------------------------------------------------------- */

.tobago-sheet {
  display: flex;
  flex-direction: column;
}

.tobago-sheet-cell-markup-right {
  text-align: right;
}

.tobago-sheet-cell-markup-center {
  text-align: center;
}

.tobago-sheet-cell-markup-justify {
  text-align: justify;
}

.tobago-sheet-footer {
  text-align: center;
}

.tobago-sheet-pagingOuter-markup-left {
  float: left;
}
.tobago-sheet-pagingOuter-markup-center {
}

.tobago-sheet-pagingOuter-markup-right {
  float:right;
}

.tobago-sheet-pagingInput {
  text-align: center;
  display: none;
}

.tobago-sheet-pagingOuter {
  vertical-align: top;
  cursor: pointer;
}

.tobago-sheet-pagingText {
  cursor: pointer;
  vertical-align: top;
}

.tobago-sheet-footerPagerButton {
  cursor: pointer;
  vertical-align: top;
}

.tobago-sheet-footerPagerButton-markup-disabled {
  cursor: auto;
}

.tobago-sheet-pagingLink {
  vertical-align: top;
}

table.tobago-sheet-headerTable>tbody>tr>th:last-child,
table.tobago-sheet-bodyTable>tbody>tr>td:last-child {
  padding-left: 0;
  padding-right: 0;
}

.tobago-sheet-body {
  overflow-y: auto;
  flex: 1 1 auto;
}

/* suggest ---------------------------------------------------------------------- */

.tobago-suggest {
  display: none;
}

.twitter-typeahead {
  width: 100%;
}

.typeahead {
  background-color: #FFFFFF;
}

.typeahead:focus {
  border: 2px solid #0097CF;
}

.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
  color: #aaaaaa;
}

.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
  padding: 8px 0;
  min-width: 100%;
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion:hover {
    background-color: #0097CF;
    color: #FFFFFF;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}

.tt-suggestion p {
  margin: 0;
}

/* tab -------------------------------------------------------------- */

.tobago-tab-content {
  display: none;
  border: 1px solid #cccccc;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* 1st is hidden, 2nd is header, 3rd is toolbar, 4th is the first content tab */
.tobago-tab-content:nth-child(4) {
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
}

.tobago-tab-content-markup-selected {
  display: block;
}

.tobago-out {
  display: inline-block;
}

/* Bootstrap workarounds ------------------------------------------------------------------ */

/* fixes the problem, that input controls have 100% in the toolbar if they are not in a form,
 but in Tobago we have a global form.
 */
/*
.navbar .form-control {
    width: auto;
}
*/

/*
fixes missing space, I thinks normal Websites have a " " Space char in the source code, Tobago not.
*/
.navbar button:nth-child(n+2),
.navbar input:nth-child(n+2) {
  margin-left: 5px;
}

.btn:nth-child(n+2) {
  margin-left: 5px;
}

.tobago-button > *:nth-child(n+2),
.tobago-link > *:nth-child(n+2) {
  margin-left: .4em;
}

.tobago-label {
  width: 155px;
}

.tobago-sheet-pagingOuter {
  margin: 20px 0;
}

/* fixes vertical space, todo: why is is needed? is there a better way? */
.form-horizontal > * {
  margin-top: 10px;
  margin-bottom: 5px;
  /* XXX MUST BE REMOVED */
}.form-horizontal .control-label {
   margin-top: 10px;
   margin-bottom: 5px;
 }
/* FIXME: This is to hide the toolbar, until it is implemented */
.tobago-tabGroup-toolBar {
  display: none;
}


.glyphicon.tobago-x-spinning {
  animation: tobago-x-spinning 1s infinite linear;
  -webkit-animation: tobago-x-spinning_webkit 1s infinite linear;
}

@keyframes tobago-x-spinning {
  from { transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

@-webkit-keyframes tobago-x-spinning_webkit {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
