/* $Id$ */

a:link, a:visited, a:active {
  color: #000000;
}

form  {
  margin: 0px;
}

/* Tab ------------------------------------------------------------------ */

a:link.tobago-tab-link, a:visited.tobago-tab-link, a:active.tobago-tab-link {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

div.tobago-tab-selected-outer {
  border-color: #ddeeff #778899 #ddeeff #ddeeff;
  border-width: 0.13ex 0.13ex 0px 0.13ex;
  border-style: solid;
  padding: 0.2ex 0.2em;
}
div.tobago-tab-selected-inner {
  margin: 0px 0.7em;
  white-space: nowrap;
}
div.tobago-tab-unselected-outer {
  border-color: #ddeeff #778899 #ddeeff #ddeeff;
  border-width: 0.13ex;
  border-style: solid;
}
div.tobago-tab-unselected-inner {
  margin: 0px 0.7em;
  white-space: nowrap;
}
div.tobago-tab-fulfill {
  border-color: #ddeeff;
  border-width: 0px 0px 0.13ex 0px;
  border-style: solid;
}
td.tobago-tab-content {
  border-color: #ddeeff #778899 #778899 #ddeeff;
  border-width: 0px 0.13ex 0.13ex 0.13ex;
  border-style: solid;
  padding: 0.7ex 0.7em;
}


a:link.tab, a:visited.tab, a:active.tab {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

img.tobago-progress-color1 {
  background: #aabbcc;
  border-width: 1px 0px 1px 1px;
  height: 1.4ex;
}

img.tobago-progress-color2 {
  background: #ddeeff;
  border-width: 1px 1px 1px 0px;
  height: 1.4ex;
}

span.tobago-progress {
  white-space: nowrap;
}

/*
Tree -------------------------------------------------------------------- */
.tobago-tree-default {
  overflow: auto;
}

.tree-container {
	margin: 0px;
	padding: 0px;
	font: icon;
	white-space: nowrap;
}

.tree-item {
	padding: 0px;
	margin: 0px;
	font: icon;
	color: black;
	white-space: nowrap;
}

.tree-folder-label, .tree-item-label, .tree-folder-label:active,
.tree-item-label:active, .tree-folder-label:hover, .tree-item-label:hover {
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.tree-folder-label, .tree-item-label {
	color: black;
	text-decoration: none;
}

.tree-folder-label:hover, .tree-item-label:hover {
	color: blue;
	text-decoration: underline;
}

.tree-folder-label:active, .tree-item-label:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}

.tree-folder-label:focus, .tree-item-label:focus {
	background: #445566;
	color: highlighttext;
	text-decoration: none;
}

.tree-item img {
	vertical-align: middle;
	border: 0px;
}

.tree-icon {
	width: 16px;
	height: 16px;
}

.tree-junction {
	width: 19px;
	height: 16px;
}

/* calendar */
table.calendar {
}

td.day, td.day-disabled, td.day-selected {
  text-align: center;
}

td.day-disabled {
  color: #999999;
}

td.day-selected {
  background-color: #ffffff;
}

/* validation */
.tobago-validation-message {
  color: red;
}

/* ----------------------------------------------------------------------------
 * New Tobago Style definitions:
 * Syntax: .tobago-<elementname>-<attribute>
 * Possible attributes: default, disabled, readonly, inline, error
 * default always is rendered as block.
---------------------------------------------------------------------------- */

/* button ------------------------------------------------------------------ */

.tobago-button-default  {
  border-left: 1px solid #ddeeff;
  border-right: 1px solid #6688aa;
  border-top: 1px solid #ddeeff;
  border-bottom: 1px solid #6688aa;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: #bbccdd;
  font-weight: normal;
}

button img  {
  margin-right: 5px;
}

/* checkbox ---------------------------------------------------------------- */

.tobago-checkbox-default {
  background: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tobago-checkbox-disabled {
}

.tobago-checkbox-inline {
}

.tobago-checkbox-error {
	border-style: 2px solid #ff0000;
}

/* checkboxgroup ----------------------------------------------------------- */

.tobago-checkboxgroup-default {
  background: transparent;
}

/* file ----------------------------------------------------------- */

.tobago-file-default {
  height: 25px;
}

.tobago-file-error  {
  border-color: #ff0000;
}

/* gridlayout -------------------------------------------------------------- */

.tobago-gridlayout-default {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}

.tobago-gridlayout-cell-td {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}

div.tobago-gridlayout-default {
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 5px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.tobago-gridlayout-first-row {
  padding-top: 0px;
}

div.tobago-gridlayout-first-column{
  padding-left: 0px;
}

/* groupbox ---------------------------------------------------------------- */

fieldset.tobago-groupbox-default {
  border: 2px groove #ddeeff;
  margin-left: 0px;
  padding: 10px;
}

legend.tobago-groupbox-default {
  color: black;
}


.tobago-groupbox-toolbar-div {
  position: relative;
  top: -36px;
  left: 12px;
  float: right;
}

.tobago-groupbox-toolbar-span {
  border: 2px groove #f6faff;
  background: #bbccdd;
  font-size: 22px;
  padding-bottom: 2px;
}


div.tobago-groupbox-default {
  overflow: auto;
  position: relative;
  top: 0px;
  left:0px;
}

/* label ------------------------------------------------------------------- */

span.tobago-label-default  {
  padding-top: 1px;
}
label.tobago-label-default  {
  height: 23px;
  width: 144px;
  padding: 0px 0px 0px 2px;
  margin: 0px;
  border: 0px solid transparent;
/*  border: 2px solid #ccddee; */
/*  background: #ccddee; */
}

.tobago-label-disabled  {
  color: #778899;
}

.tobago-label-inline {
  width: auto;
}

/* multiselect ------------------------------------------------------------- */

.tobago-multiselect-default  {
  background: #ffffff;
  height: 25px;
}

.tobago-multiselect-disabled  {
  background: #c0c0c0;
}

.tobago-multiselect-error  {
  border-style: solid;
  border-color: #ff0000;
}

/* page -------------------------------------------------------------------- */
.tobago-page-default {
  background: #bbccdd;
  font-family: arial, helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

/* radiogroup -------------------------------------------------------------- */

.tobago-radiogroup-default {
  background: transparent;
}

/* richtexteditor ---------------------------------------------------------- */

.tobago-richtexteditor-default {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.tobago-richtexteditor-container {
}

.tobago-richtexteditor-header-div {
  height: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 0px;
  font: 12px arial, helvetica, sans-serif;
}

.tobago-richtexteditor-toolbar-button-span-enabled, .tobago-richtexteditor-toolbar-button-span-disabled {
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-right: 5px;
  font: 12px arial, helvetica, sans-serif;
}

.tobago-richtexteditor-toolbar-button-span-enabled {
  cursor: pointer;
  cursor: hand;
}

.tobago-richtexteditor-toolbar-button-span-disabled {
  color: #778899;
}

.tobago-richtexteditor-toolbar-button-hover {
  border: 1px solid black;
  background: #c5c5c5;
  margin: -1px;
}

.tobago-richtexteditor-toolbar-button-label {
  padding-left: 5px;
}

.tobago-richtexteditor-body {
  border-left: 2px solid #7b7d7b;
  border-right: 2px solid #f6f2f6;
  border-top: 2px solid #7b7d7b;
  border-bottom: 2px solid #f6f2f6;
  margin: 0px;
  background: #ffffff;
  height: 75px;
}

textarea.tobago-richtexteditor-body {
}

div.tobago-richtexteditor-body {
  overflow: auto;
}


/* singleselect ------------------------------------------------------------ */

.tobago-singleselect-default  {
  background: #ffffff;
}

.tobago-singleselect-disabled  {
  background: #c0c0c0;
}

.tobago-singleselect-error  {
  border-style: solid;
  border-color: #ff0000;
}

/* text -------------------------------------------------------------------- */

.tobago-text-theme-strong {
  font: bold 12px arial, helvetica, sans-serif;
}

.tobago-text-theme-deleted {
  text-decoration: line-through;
}

/* textarea ---------------------------------------------------------------- */

.tobago-textarea-default  {
  border-color: #bbccdd;
  border-style: inset;
  border-width: 2px;
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  margin: 0px;
}

.tobago-textarea-readonly  {
  background: #bbccdd;
}

.tobago-textarea-disabled  {
  color: #778899;
  background: #bbccdd;
}

.tobago-textarea-error  {
  border-style: solid;
  border-color: #ff0000;
}

/* textbox ----------------------------------------------------------------- */

.tobago-textbox-default  {
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  height: 25px;
  color: #000000;
  border-color: #bbccdd;
  border-style: inset;
  border-width: 2px;
  margin: 0px;
}

.tobago-textbox-readonly  {
  background: #bbccdd;
}

.tobago-textbox-disabled  {
  color: #778899;
  background: #bbccdd;
}

.tobago-textbox-error  {
  border-style: solid;
  border-color: #ff0000;
}


/* end --------------------------------------------------------------------- */

.tobago-input-picker {
  vertical-align: bottom;
}


/* Toolbar ----------------------------------------------------------------- */
.tobago-toolbar-default  {
  height: 30px;
  border: 2px groove #f6faff;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-toolbar-div-inner {
  padding: 1px;
  padding-top: 4px;
}

.tobago-toolbar-button-span {
  font-size: 16px;
  margin: 1px;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.tobago-toolbar-button-span-enabled {
  cursor: pointer;
  cursor: hand;
}

.tobago-toolbar-button-span-disabled {
  color: #778899;
}

.tobago-toolbar-button-span-hover {
  margin: 0px;
  border-left: 1px solid #ddeeff;
  border-right: 1px solid #6688aa;
  border-top: 1px solid #ddeeff;
  border-bottom: 1px solid #6688aa;
  background: #ccddee;
}

.tobago-toolbar-button-image {
 vertical-align: bottom;
 margin-bottom: 2px;
}
.tobago-toolbar-button-label {
  padding-left: 5px;
}