
.tobago-menuBar-default {
  height: 24px;
  border: 2px groove #f6faff;
  position: relative;
  top: 0px;
  left: 0px;
  background: #bbccdd;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-menuBar-page-facet {
  height: 27px;
}

.tobago-menuBar-item-page-facet {
  font: inherit;
}

.tobago-menuBar-container {
  width: 10px;
  height: 10px;
  position: absolute;
  font: inherit;
  /* top and left are set from script on the client */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-menuBar-submenuroot {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: visible;
 }

.tobago-menuBar-container-ToolbarButton {
  width: 20px;
  height: 20px;
  display: inline;
}

.tobago-menuBar-subitem-container {
  border: 2px groove #f6faff;
  position: absolute;
  padding: 0px;
  background: #bbccdd;
  z-index: 1000;
  overflow: visible;
  visibility: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

.tobago-menu-item {
  visibility: inherit;
  overflow: auto; /* this MUST be auto (is needed and overwritten in javascript ) */
  height: 20px;
  position: absolute;
  padding: 0px;
  padding-left: 5px;
  padding-right: 0px;
  z-index: 1000;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


.tobago-menu-item-hover {
  background: #ccddee;
}
.tobago-menu-item-focus {
  background: #ccddee;
}


.tobago-menuBar-item-span {
  position: absolute;
  top: 0px;
  left: 20px;
  text-decoration: none;
}

.tobago-menuBar-item-span-enabled {
  color: #000000;
}

.tobago-menuBar-item-span-disabled {
  color: #888888;
}

.tobago-menuBar-item-span-top {
  left: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

.tobago-menuBar-item-page-top {
  top: 2px;
}

.tobago-menu-item-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
}

.tobago-menu-subitem-arrow {
  float: right;
  width: 20px;
  height: 20px;
}

