/* $Id$ */

body  {
  background-image: url("../image/clouds.png");
}

/* box ---------------------------------------------------------------- */

div.tobago-box-default {
  overflow: auto;
}

.tobago-box-head-td-left {
  font: bold 10pt arial, helvetica, sans-serif;
  color: #ffffff;
  padding-left: 10px;
}

.tobago-box-head-td-right {
  background: #ffffff;
}

td.tobago-box-body-td {
  padding: 10px;
}
