/* - Label ------------------------------------------------------------------ */

label.tobago-label-default  {
  margin-top: 0px;
}

.tobago-label-td  {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

/* textArea ---------------------------------------------------------------- */

.tobago-textArea-default  {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* in ---------------------------------------------------------------------- */
.tobago-in-default  {
  margin-top: 0px;
}

.tobago-label-default  {
  padding-top: 0px;
}

.tobago-label-inline  {
  padding-top: 1px;
}


/* selectManyListbox ------------------------------------------------------- */

.tobago-selectManyListbox-default  {
  margin-bottom: -1px;
  /* height: 20px;*/
}

/* selectOneChoice --------------------------------------------------------- */

.tobago-selectOneChoice-default  {
  margin-bottom: -1px;
}

/* toolBar ----------------------------------------------------------------- */

.tobago-toolBar-button-menu-background-image {
  width: 15px;
  height: 12px;
}

