/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme:  charlotteville
 * agent:  standard
 */

/* box ----------------------------------------------------------------- */

.tobago-box {
  background: #FFEECF;
  border: 1px solid #FECB66;
}

.tobago-box-header {
  background: #FADC9F none;
  color: #660000;
  border-bottom: 1px solid #FECB66;
}

/* boxToolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"
   FIXME may be fixed after TOBAGO-900
*/

.tobago-boxToolBar {
  border-color: #FECB66;
}

.tobago-boxToolBar-item-markup-selected {
  border-color: #FECB66;
}

.tobago-boxToolBar-item-markup-hover {
  border-color: #FECB66;
}

.tobago-boxToolBar-button-markup-selected {
  background-color: #FFEECF;
}

.tobago-boxToolBar-button-markup-hover {
  background-color: #FADC9F;
}

/* button ------------------------------------------------------------------ */

.tobago-button {
  background: #FADC9F;
  color: #660000;
}

.tobago-button-markup-disabled {
  color: GrayText;
}

/* label ------------------------------------------------------------------- */

.tobago-label {
  background-color: #FADC9F;
}

/* page -------------------------------------------------------------------- */

.tobago-page {
  background: #FFEECF;
}

/* menu ---------------------------------------------------------------------- */

.tobago-menuBar li {
  background-color: #FFEECF;
}

li.tobago-menu-markup-selected {
  background-color: #FADC9F;
}

.tobago-menuBar {
  border-bottom-color: #FECB66;
  background-color: #FFEECF;
}

.tobago-menuBar ol {
  border-color: #FECB66;
}

/* sheet ---------------------------------------------------------------------- */

.tobago-sheet-headerDiv {
  border-bottom: 1px solid #FADC9F;
}

.tobago-sheet-header {
	border-color: #FADC9F #FECB66 #FADC9F #FADC9F;
  background-color: #FADC9F;
  color: #660000;
  font: bold 13px arial, helvetica, sans-serif;
}

.tobago-sheet-body {
  background-color: #FFEECF;
}

.tobago-sheet-row-markup-odd {
  background-color: #FFEECF;
}

.tobago-sheet-row-markup-even {
  background-color: #FADC9F;
}

.tobago-sheet-row-markup-selected, .tobago-sheet-row-markup-selected td {
	background-color: highlight;
	color: highlighttext;
}

.tobago-sheet-footer {
  border-top: 1px dotted #660000;
  background: #FADC9F;
  font: bold 11px arial, helvetica, sans-serif;
  color: #660000;
  text-decoration: none;
}

.tobago-sheet-pagingInput {
  border: 1px #660000 solid;
}

/* tab ---------------------------------------------------------------------- */

.tobago-tab {
  background: #FFEECF;
  border-color: #FECB66;
  color: #660000;
}

.tobago-tab-content {
  border-color: #FECB66;
  background: #FAFAFA;
}

.tobago-tab-markup-disabled,
.tobago-tab-markup-disabled a:link,
.tobago-tab-markup-disabled a:visited,
.tobago-tab-markup-disabled a:active {
  background: #808080 repeat-x top;
  color: #e6e6e6;
}

.tobago-tabGroup-headerInner {
  border-bottom-color: #FECB66;
}

.tobago-tabGroup-toolBar {
  border-bottom-color: #FECB66;
}

/* tabGroupToolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"
   FIXME may be fixed after TOBAGO-900
*/

.tobago-tabGroupToolBar {
  border-color: #FECB66;
}

.tobago-tabGroupToolBar-item-markup-selected {
  border-color: #FECB66;
}

.tobago-tabGroupToolBar-item-markup-hover {
  border-color: #FECB66;
}

.tobago-tabGroupToolBar-button-markup-selected {
  background-color: #FFEECF;
}

.tobago-tabGroupToolBar-button-markup-hover {
  background-color: #FADC9F;
}

/* toolBar ----------------------------------------------------------------- */

.tobago-toolBar {
  border-color: #FECB66;
}

.tobago-toolBar-item-markup-selected {
  border-color: #FECB66;
}

.tobago-toolBar-item-markup-hover {
  border-color: #FECB66;
}

.tobago-toolBar-button-markup-selected {
  background-color: #FFEECF;
}

.tobago-toolBar-button-markup-hover {
  background-color: #FADC9F;
}
