/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$orange: #d68200;
$green: #1C690A;
$blue: #130E8F;
$dark-orange: #B26812;
$light-orange: #ffb243;
$purple: #6c00cb;
$dark-purple: #5400a8;
$gray-400: #a0a0a0;
$gray-600: #777777;
$gray-800: #323232;
$black: #000000;

$primary: $orange;
$secondary: $purple;
$success: $green;
$info: $blue;
$warning: $dark-orange;
$danger: $light-orange;
$light: $gray-600;
$dark: $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
), $theme-colors);

$border-width: 2px;

$body-color: $gray-600;
$body-bg: $black;

//$input-disabled-color: $input-color;
//$input-disabled-bg: $gray-800;
//$input-disabled-border-color: $input-border-color;

$input-bg: $body-bg;
$input-disabled-bg: $gray-800;
$input-color: $gray-400;
$input-border-color: $gray-600;
$input-btn-border-width: $border-width;
$input-focus-bg: $input-bg;
$input-focus-border-color: lighten($primary, 25%);
$input-focus-color: $gray-400;
$input-placeholder-color: $gray-600;

$link-color: lighten($secondary, 20%);
$link-hover-color: lighten($link-color, 25%);

$navbar-light-color: $orange;
$navbar-light-active-color: $light-orange;
$navbar-light-hover-color: $light-orange;
$navbar-light-disabled-color: $dark-orange;

$card-bg: $black;
$card-border-color: $gray-600;
$card-border-width: $border-width;
$card-cap-bg: $gray-800;

$dropdown-link-color: $gray-400;
$dropdown-link-active-color: $light-orange;
$dropdown-bg: $black;

$pagination-color: $gray-600;
$pagination-bg: $black;
$pagination-border-color: $gray-600;
$pagination-border-width: $border-width;
$pagination-active-color: $gray-400;
$pagination-active-bg: $purple;
$pagination-active-border-color: $gray-400;
$pagination-hover-color: $pagination-active-color;
$pagination-hover-bg: $dark-purple;
$pagination-hover-border-color: $pagination-active-border-color;
$pagination-disabled-color: $pagination-color;
$pagination-disabled-bg: $gray-800;
$pagination-disabled-border-color: $pagination-border-color;

$input-plaintext-color: $body-color;

@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Amaranth-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Amaranth-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Amaranth';
  font-style: italic;
  src: url('../fonts/Amaranth-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Amaranth';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Amaranth-BoldItalic.otf') format('opentype');
}

.tobago-box-header {
  font-family: Amaranth, Arial, serif;
}
