/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme:  charlotteville
 * agent:  standard
 */

/* box ----------------------------------------------------------------- */

.tobago-box-default {
  background: #FFEECF;
  border: 1px solid #FECB66;
}

.tobago-box-header {
  background: #FADC9F none;
  color: #660000;
  border-bottom: 1px solid #FECB66;
}

.tobago-box-content {
  background-color: #FFEECF;
}

/* button ------------------------------------------------------------------ */

.tobago-button-default  {
  background: #FADC9F;
  color: #660000;
}

.tobago-button-disabled {
  color: GrayText;
}

/* label ------------------------------------------------------------------- */

div.tobago-label-default  {
  background: #FADC9F;
}

.tobago-label-td-underline-label {
  background: #FADC9F;
}

/* page -------------------------------------------------------------------- */
.tobago-page-default  {
  background: #FFEECF;
}

/* Tab ---------------------------------------------------------------------- */
.tobago-tab-link {
  color: #660000;
}

div.tobago-tab-selected-outer {
  border-color: #FECB66;
  background: #FADC9F repeat-x top;
}

div.tobago-tab-selected-inner {
  color: #FECB66;
}

div.tobago-tab-unselected-outer {
  border-color: #FECB66;
  background: #FADC9F repeat-x top;
}

div.tobago-tab-unselected-inner {
  color: #FECB66;
}

div.tobago-tab-fulfill {
  border-color: #FECB66;
}

.tobago-tab-content {
  border-color: #FECB66;
  background: #FFEECF;
}

.tobago-tab-shadow {
  background: #FECB66;
  border-color: #FECB66;
}

a:link.tab, a:visited.tab, a:active.tab {
  color: #FECB66;
}

/* Menu ---------------------------------------------------------------------- */

.tobago-menuBar-default li {
  background-color: #FFEECF;
}

li.tobago-menu-selected {
  background-color: #FADC9F;
}

.tobago-menuBar-default {
  border-bottom-color: #FECB66;
  background-color: #FFEECF;
}

.tobago-menuBar-default ol {
  border-color: #FECB66;
}

/* Sheet ---------------------------------------------------------------------- */

.tobago-sheet-header-div {
  border-bottom: 1px solid #FADC9F;
}

.tobago-sheet-header  {
	border-color: #FADC9F #FECB66 #FADC9F #FADC9F;
  background: #FADC9F;
  color: #660000;
  font: bold 13px arial, helvetica, sans-serif;
}

.tobago-sheet-body-div {
  background: #FFEECF;
}

.tobago-sheet-row-odd {
  background: #FFEECF;
}

.tobago-sheet-row-even {
  background: #FADC9F;
}

.tobago-sheet-row-selected {
	background: highlight;
	color: highlighttext;
}

.tobago-sheet-footer {
  border-top: 1px dotted #660000;
  background: #FADC9F;
  font: bold 11px arial, helvetica, sans-serif;
  color: #660000;
  text-decoration: none;
}

.tobago-sheet-paging-input {
  border: 1px #660000 solid;
}
