/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tobago-menuBar-default {
  border: 1px solid #FF9900;
  background: #FFCC66;
}

.tobago-menuBar-separator   {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top:1px solid #000000;
  border-right:0px solid #000000;
  border-bottom:0px solid #000000;
  border-left:0px solid #000000;
}

.tobago-menuBar-page-facet {
  background: #FFCC66;
}

.tobago-menuBar-subitem-container {
  background: #FFCC66;
}

.tobago-menu-item-focus {
  background: #FF9900;
}

.tobago-menu-item-hover {
  background: #FF9900;
}

.tobago-menuBar-item-span-disabled {
  color: #888888;
}

