

/* this div is expanding by content
   content is div with css-class tobago-box-content-inner*/
.tobago-box-content {
  height: 0px;
}

.tobago-box-header-toolbar-div {
  top: -1px;
}

.tobago-toolbar-div-inner {
  margin-top: -1px;
}


.tobago-toolbar-button-menu {
  top: -7px;
}
