// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

$brand-primary:             #ffd080 !default;
$brand-success:             #bcf8ac !default;
$brand-info:                #00ffff !default;
$brand-warning:             #f0fd4e !default;
$brand-danger:              #ffa9a9 !default;

$body-bg:    #eceeef !default;
$body-color: #0265c8 !default;
