/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme: speyside
 * agent: standard
 */

/* box ----------------------------------------------------------------- */

.tobago-box {
  position: absolute;
}

.tobago-box-shadow {
  background-color: #999999;
  position: absolute;
  left: 1px;
  top: 1px;
}

.tobago-box-border {
  border: 1px solid #000000;
  position: absolute;
  overflow: hidden;
  top: -1px;
  left: -1px;
  background-color: #FAFAFA;
}

.tobago-box-header {
  background: #E8E8E8 url(../image/box-header-bg.gif) repeat-x top;
  height: 16px;
  border-bottom: 1px dotted black;
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  padding: 3px 0 0 5px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.tobago-box-header-toolbar-div {
  position: absolute;
  top: 0;
  right: -1px;
}

.tobago-box-header-toolbar-label_off {
  top: -1px;
}

/* button ------------------------------------------------------------------ */

.tobago-button  {
  border: 1px #000000 solid;
  background: #ffffff;
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  height: 20px;
}

.tobago-button-disabled {
  color: GrayText;
}

/* calendar --------------------------------------------------------------- */

.tobago-calendar-header  {
  text-decoration: underline;
}

.tobago-calendar-day {
  font: 12px arial, helvetica, sans-serif;
}

.tobago-calendar-day-disabled {
  font: 12px arial, helvetica, sans-serif;
  color: #333333;
}

.tobago-calendar-day-selected {
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  border: 1px dotted #660000;
  background: #FFFFFF;
  height: 18px;
}

.tobago-calendar-inner-header {
  font: bold 14px arial, helvetica, sans-serif;
  color: #660000;
}

/* code ------------------------------------------------------------------ */

.tobago-code  {
  font: bold 14px Courier;
  color: #666666;
  padding-bottom: 2px;
}

.tobago-code-multiline  {
  background: #CCCCCC;
  width: 530px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid black;
}

/* date ---------------------------------------------------------------------- */

.tobago-date  {
  border: 1px #000000 solid;
  height: 20px;
  font: 12px arial, helvetica, sans-serif;
  padding-left: 2px;
  padding-right: 2px;
}

.tobago-date-readonly  {
  background-color: #E8E8E8;
}

.tobago-date-disabled  {
  color: #808080;
  background-color: #E8E8E8;
}

.tobago-date-error {
  border: 1px solid #FF0000;
}

/* file  ------------------------------------------------------------------- */

.tobago-file  {
  height: 20px;
}

/* in ---------------------------------------------------------------------- */

.tobago-in  {
  border: 1px #000000 solid;
  height: 14px;
  font: 12px arial, helvetica, sans-serif;
}

.tobago-in-readonly  {
  background-color: #E8E8E8;
}

.tobago-in-disabled  {
  color: #808080;
  background-color: #E8E8E8;
}

.tobago-in-error {
  border: 1px solid #FF0000;
}

/* label ------------------------------------------------------------------- */

div.tobago-label  {
  background: #E8E8E8;
  border: 0 solid transparent;
  vertical-align: top;
  height: 19px;
  margin: 0;
  padding-top: 0;
}
a.tobago-label  {
  padding-top: 3px;
}

label.tobago-label  {
  font: bold 12px arial, helvetica, sans-serif;
  /*height: 19px;*/
  /*height: auto;*/
  height: 15px;
  border: 0 solid transparent;
  margin-top: 3px;
  padding-top: 0;
  padding-left: 8px;
  color: #000000;
  background-color: transparent;
}

.tobago-label-td  {
  border: 0 solid transparent;
 /* border-bottom: 0px solid #E2E2E2;*/ /* see workaround in mozilla style! */
  vertical-align: top;
  height: 19px;
  margin: 0;
  padding-top: 0;
}

.tobago-label-td-underline-label {
  background: #E8E8E8; /*#c0c0c0;*/
  height: 1px;
}

.tobago-label-td-underline-spacer {
  height: 1px;
}

label.tobago-label-disabled  {
  color: #808080;
}

.tobago-label-inline  {
  padding-top: 5px; /* see workaround in mozilla style! */
  padding-left: 0;
  margin-top: 1px;
  width: auto;
}

label.tobago-label-inline  {
  padding-left: 0;
}

label.tobago-label-error {
  background: url(../image/label-error-bg.gif) no-repeat bottom left;
  color: #FF0000;
}

/* link -------------------------------------------------------- */

.tobago-link {
  font: bold 12px arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
}

.tobago-link-disabled {
  color: #888888;
}

/* menuBar -------------------------------------------------------- */

.tobago-menuBar li,
.tobago-page-menuStore li {
  background-color: #dddddd;
}

li.tobago-menu-selected {
  background-color: #bbbbbb;
}

.tobago-menuBar,
.tobago-page-menuStore {
  border-bottom-color: #808080;
  background-color: #dddddd;
}

.tobago-menuBar ol,
.tobago-page-menuStore ol {
  border-color: #888888;
}

/* messages --------------------------------------------------------------- */

/* todo rename */
.tobago-validation-message {
  color: #FF0000;
  font: bold 12px arial, helvetica, sans-serif;
}

/* out -------------------------------------------------------------------- */

.tobago-out  {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
}

/* page -------------------------------------------------------------------- */

.tobago-page  {
  background: #E2E2E2;
  font: 12px arial, helvetica, sans-serif;
  margin-bottom: 0px;
  scrollbar-base-color: #000000;
  scrollbar-3dlight-color: #000000;
  scrollbar-darkshadow-color: #CCCCCC;
  scrollbar-arrow-color: #000000;
  scrollbar-face-color: #E2E2E2;
  scrollbar-highlight-color: #E2E2E2;
  scrollbar-shadow-color: #000000;
  scrollbar-track-color: #CCCCCC;
}

/* popup ------------------------------------------------------------------ */

.tobago-popup  {
  background: #E2E2E2;
}

.tobago-popup-blink {
  background: #333333;
  -moz-opacity: .5;
  opacity: .5;
	filter:alpha(opacity=50);
}

/* progress --------------------------------------------------------- */

img.tobago-progress-color1 {
  background-color: #660000;
}

img.tobago-progress-color2 {
  background-color: #ffffff;
}

/* richTextEditor ---------------------------------------------------------- */

.tobago-richTextEditor-body {
  border: 1px solid #000000;
  background: #ffffff;
  font: 12px arial, helvetica, sans-serif;
}

/* selectBooleanCheckbox --------------------------------------------------- */

.tobago-selectBooleanCheckbox {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tobago-selectBooleanCheckbox-disabled {
  color: #808080;
}

/* selectManyCheckbox ---------------------------------------------------------- */

.tobago-selectManyCheckbox-disabled  {
  color: #808080;
}

/* selectManyListbox ------------------------------------------------------- */

.tobago-selectManyListbox  {
  border: 1px solid #000000;
  font: 12px arial, helvetica, sans-serif;
  padding-top: -1px;
  color: #000000;
  height: 21px;

}

.tobago-selectManyListbox-disabled {
  background-color: #E8E8E8;
  color: #808080;
}

.tobago-selectManyListbox-readonly {
  background-color: #E8E8E8;
}

/* selectOneChoice --------------------------------------------------------- */

.tobago-selectOneChoice  {
  border: 1px solid #000000;
  font: 12px arial, helvetica, sans-serif;
  color: #000000;
}

tobago-selectOneChoice-readonly {
  background-color: #E8E8E8;
}

/* selectOneListbox -------------------------------------------------------- */

.tobago-selectOneListbox  {
  border: 1px solid #000000;
  font-size: 12px;
}

.tobago-selectOneListbox-disabled {
  background-color: #E8E8E8;
  color: #808080;
}

.tobago-selectOneListbox-readonly {
  background-color: #E8E8E8;
}

/* selectOneRadio --------------------------------------------------------- */

.tobago-selectOneRadio-disabled  {
  color: #808080;
}

/* separator ------------------------------------------------------------------- */

hr.tobago-separator {
  border: 0 solid #000000;
  border-bottom-width: 1px;
}

/* sheet -------------------------------------------------------- */

.tobago-sheet-header-div {
  left: 1px;
  height: 20px;
  border-bottom: 1px solid #ffffff;
}

.tobago-sheet-header {
  border-color: #b8b6b6 #ffffff #d7d7d7 #b8b6b6;
  background-color: #d7d7d7;
  font: bold 12px arial, helvetica, sans-serif;
  color: #333333;
  text-align: left;
}

.tobago-sheet-body-table {
  table-layout: fixed;
}

.tobago-sheet-body-div {
  padding-top: 20px;
  background: #D7D7D7;
  border: 1px solid #CCCCCC;
}

.tobago-sheet-row-odd {
  font: 12px arial, helvetica, sans-serif;
  background: #ffffff;
}

.tobago-sheet-row-even {
  font: 12px arial, helvetica, sans-serif;
  background: #ffffff;
}

.tobago-sheet-row-selected {
	background: #EBEAEA;
	color: #000000;
}

.tobago-sheet-cell-td {
  border-bottom: 1px solid #E2E2E2;
}

.tobago-sheet-footer {
  z-index: 1000;
  background: #E2E2E2;
  font: bold 10px arial, helvetica, sans-serif;
  color: #333333;
  text-decoration: none;
  padding: 0px;
  padding-top: 1px;
}

.tobago-sheet-paging-span-left {
  left: 2px;
}

.tobago-sheet-paging-span-right {
  right: 2px;
}

.tobago-sheet-paging-input {
  height: 11px;
  width: 25px;
  font: bold 10px arial, helvetica, sans-serif;
  border: 1px solid black;
}

.tobago-sheet-paging-pages-text {
  padding-right: 0px;
}

.tobago-sheet-selector-menu {
  margin-top: 1px;
  margin-left: 0px;
}

/* tab ---------------------------------------------------------------------- */

.tobago-tab-link {
  font: 12px Arial, Helvetica, sans-serif;
  color: #660000;
}

.tobago-tab-disabled {
  color: #808080;
}

.tobago-tab {
  display: inline-block;
  height: 100%;
}

.tobago-tab-header {
  position: relative;
}

.tobago-tab-selected-outer {
  border-color: #000000;
  padding: 0 0 0 0;
  display: inline-block;
  background: url(../image/tab-header-selected-bg.gif) repeat-x top;
  height: 18px;
}

.tobago-tab-selected-inner {
  font: 12px arial, helvetica, sans-serif;
  color: #660000;
  display: inline-block;
}

.tobago-tab-unselected-outer {
  display: inline-block;
  border-color: #000000;
  background: url(../image/tab-header-unselected-bg.gif) repeat-x top;
}

.tobago-tab-unselected-inner {
  font: 12px arial, helvetica, sans-serif;
  color: #660000;
}

span.tobago-tab-fulfill {
  border-color: #000000;
  display: inline-block;
  border-bottom: 1px solid;
  vertical-align: bottom;
}

.tobago-tab-content {
  border: 1px solid #000000;
  border-top: 0 solid transparent;
  padding: 10px 10px 10px 10px;
  background: #FAFAFA;
}

.tobago-tab-shadow {
  background: #B4B4B4;
  border: 1px solid #B4B4B4;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
}

div.tobago-tabGroup-toolBar {
  border-color: #000000;
}

a:link.tab, a:visited.tab, a:active.tab {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #660000;
}

/* textArea ---------------------------------------------------------------- */

.tobago-textArea  {
  font: 12px arial, helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  border: 1px solid #000000;
  padding: 0 0 0 2px;
}

.tobago-textArea-readonly  {
  background-color: #E8E8E8;
}

.tobago-textArea-disabled  {
  color: #808080;
  background-color: #E8E8E8;
}

.tobago-textArea-error  {
  border: 1px solid #FF0000;
}

.tobago-textArea-spacer-custom  {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* time -------------------------------------------------------------------- */

.tobago-time-borderDiv {
  border: 1px solid black;
  height: 18px;
  width: 53px;
}

.tobago-time-borderDiv-seconds {
  width: 81px;
}

.tobago-time-input {
  font-size: 12px;
  height: 14px;
  width: 21px;
  color: #000000;
}

.tobago-time-input-selected {
  border-color: #E8E8E8;
  background: #E8E8E8;
}

.tobago-time-inc-image {
  left: 60px;
}
.tobago-time-dec-image {
  left: 60px;
}
.tobago-time-image-seconds {
  left: 88px;
}

/* toolBar ----------------------------------------------------------------- */

.tobago-toolBar {
  border: 1px solid #000000;
  background-color: #FFFFFF;
}
.tobago-toolBar-item {
  position: relative;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  margin: 0 1px;
  left: -1px;
  top: 0;
}
.tobago-toolBar-item-selected {
  border-width: 0 1px;
  border-color: #aaaaaa;
  margin: 0;
}

.tobago-toolBar-item-hover {
  border-width: 0 1px;
  border-color: #000000;
  margin: 0;
}

.tobago-toolBar-item-disabled {
  color: #808080;
}

.tobago-toolBar-button-selected {
  background-color: #EEEEEE;
}

.tobago-toolBar-button-hover {
  background-color: #DDDDDD;
}

.tobago-toolBar-separator {
  border: 1px solid #DDDDDD;
}

/* tree ------------------------------------------------------------------- */

.tobago-treeNode-menu {
  border: 1px solid #CCCCCC;
  width: 200px; /* default */
  height: 16px;
}

.tobago-treeNode-menuIcon {
	width: 16px;
	height: 16px;
  float: right;
}

.tobago-treeNode img {
  vertical-align: top;
	border: 0px;
}

.tobago-treeNode a {
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}

.tobago-treeNode-disabled a {
  color: #888888;
  text-decoration: none;
}

.tobago-treeNode a:hover {
  color: #000000;
  text-decoration: underline;
}

.tobago-treeNode-disabled a:hover {
  color: #888888;
  text-decoration: none;
}

.tobago-treeNode a:focus {
  background: transparent;
  color: #000000;
}

.tobago-treeNode-marker, .tobago-treeNode-marker:focus, .tobago-treeNode-marker a, .tobago-treeNode-marker:focus a {
	background-color: #d3d3d3;
}
