<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

  <appender name="logfile" class="org.apache.log4j.FileAppender">
    <param name="File"   value="gendoc.log" />
    <param name="Append" value="true" />
    <param name="Encoding" value="UTF-8" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
          value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %c:%L - %m%n"/>
      <!--
        %d{...} date pattern
        %p      priority
        %m      log message
        %n      newline
        -5      fill with spaces (5)

        For more options see class org.apache.log4j.PatternLayout.
      -->
    </layout>
  </appender>

  <root>
    <priority value="info" />
    <appender-ref ref="logfile" />
  </root>

</log4j:configuration>
