/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tobago-sheet-header-div {
  border-bottom: 1px solid #d6ebff;

}

.tobago-sheet-header  {
	border-color: #d6ebff #3366CC #d6ebff #d6ebff;
  background: #d6ebff;
  color: #3366CC;
  font: bold 13px arial, helvetica, sans-serif;
}


.tobago-sheet-body-div {
  background: #EBEFEB;
}

.tobago-sheet-content-odd {
  background: #EBEFEB;
}

.tobago-sheet-content-even {
  background: #EBEFEB;
}
 
.tobago-sheet-row-selected, .tobago-sheet-row-selected td {
	background: highlight;
	color: highlighttext;
}


.tobago-sheet-footer {
  border-top: 1px dotted #3366CC;
  background: #ffffff;
  font: bold 11px arial, helvetica, sans-serif;
  color: #3366CC;
  text-decoration: none;
}
                            
.tobago-sheet-paging-input {
  border: 1px #3366CC solid;
}

