/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
a:link.tobago-link-default, a:visited.tobago-link-default, a:active.tobago-link-default {
  color: #000000;
  font-size: 15px;
}
*/

table.tobago-gridLayout-default {
  table-layout: fixed;
}

form {
  margin: 0px;
}

/* Tab ------------------------------------------------------------------ */

.tobago-tab-link {
  font-family: arial, helvetica, sans-serif; /*  font-size: 14px; */
  color: #000000;
  cursor: pointer;
  white-space: nowrap;
}

div.tobago-tab-selected-outer {
  border-color: #ddeeff #778899 #ddeeff #ddeeff;
  border-width: 0.13ex 0.13ex 0px 0.13ex;
  border-style: solid;
  padding: 0.2ex 0.2em;
}

div.tobago-tab-selected-inner {
  margin: 0px 0.4em;
  white-space: nowrap;
}

div.tobago-tab-unselected-outer {
  border-color: #ddeeff #778899 #ddeeff #ddeeff;
  border-width: 1px;
  border-style: solid;
}

div.tobago-tab-unselected-inner {
  margin: 0px 0.4em;
  white-space: nowrap;
}

div.tobago-tab-fulfill {
  border-color: #ddeeff;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

td.tobago-tab-content {
  border-color: #ddeeff #778899 #778899 #ddeeff;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  padding: 11px 11px;
}

div.tobago-tabNavigationBar {
  border-bottom-color: #DDEEFF;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  overflow: hidden;
  height: 100%;
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link.tab, a:visited.tab, a:active.tab {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

img.tobago-progress-color1 {
  background: #aabbcc;
  border-width: 1px 0px 1px 1px;
  height: 1.4ex;
}

img.tobago-progress-color2 {
  background: #ddeeff;
  border-width: 1px 1px 1px 0px;
  height: 1.4ex;
}

span.tobago-progress-default {
  white-space: nowrap;
}

/* Tree old -------------------------------------------------------------------- */

.tobago-treeOld-default {
  overflow: auto;
  padding: 0px;
  margin: 0px;
  font: icon;
  color: black;
  white-space: nowrap;
}

.tree-folder-label, .tree-item-label, .tree-folder-label:active,
  .tree-item-label:active, .tree-folder-label:hover, .tree-item-label:hover {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
}

.tree-folder-label, .tree-item-label {
  color: black;
  text-decoration: none;
}

.tree-folder-label:hover, .tree-item-label:hover {
  color: blue;
  text-decoration: underline;
}

/*.tree-folder-label:active, .tree-item-label:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}*/

.tree-item-marker, .tree-item-marker:focus, a.tree-item-marker, a.tree-item-marker:focus {
  background-color: #d8e9fb;
}

.tree-folder-label:focus, .tree-item-label:focus {
  background: #445566;
  color: highlighttext;
  text-decoration: none;
}

.tree-item img {
  vertical-align: middle;
  border: 0px;
}

.tree-icon {
  width: 16px;
  height: 16px;
}

.tree-junction {
  width: 19px;
  height: 16px;
}

/* Tree ------------------------------------------------------------------- */

.tobago-tree-default {
  overflow: auto;
  padding: 0px;
  margin: 0px;
  font: icon;
  color: black;
  white-space: nowrap;
}

.tobago-treeNode-default img {
  vertical-align: middle;
  border: 0px;
}

.tobago-treeNode-default a, .tobago-treeNode-default a:active, .tobago-treeNode-default a:hover {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
}

.tobago-treeNode-default a {
  color: black;
  text-decoration: none;
}

.tobago-treeNode-default a:hover {
  color: blue;
  text-decoration: underline;
}

.tobago-treeNode-default a:focus {
  background: #445566;
  color: highlighttext;
  text-decoration: none;
}

.tobago-treeNode-disabled, .tobago-treeNode-disabled a:hover {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

.tobago-treeNode-marker, .tobago-treeNode-marker:focus, .tobago-treeNode-marker a, .tobago-treeNode-marker:focus a {
  background-color: #d8e9fb;
}

.tobago-treeNode-markup-strong {
  font-weight: bold;
}

/* treeListbox -------------------------------------------------------------------- */

select.tobago-treeListbox-default {
}

select.tobago-treeListbox-unused {
  background: #d3d3d3;
}

/* calendar */
table.tobago-calendar-default {
  width: 100%;
}

table.tobago-calendar-header {
  width: 100%;
}

th.tobago-calendar-header-center {
  width: 100%;
}

th.tobago-calendar-inner-header {
  width: 14%;
}

img.tobago-calendar-header {
  cursor: pointer;
}

td.tobago-calendar-day, td.tobago-calendar-day-disabled, td.tobago-calendar-day-selected {
  width: 14%;
  text-align: center;
  cursor: pointer;
}

td.tobago-calendar-day-disabled {
  color: #999999;
}

td.tobago-calendar-day-selected {
  background-color: #ffffff;
}

/* validation */
.tobago-validation-message {
  color: #FF0000;
  white-space: nowrap;
}

.tobago-messages-markup-fatal {
  color: #FF00FF;
}

.tobago-messages-markup-error {
  color: #FF0000;
}

.tobago-messages-markup-warn {
  color: #FFA500;
}

.tobago-messages-markup-info {
  color: #000000;
}

/* ----------------------------------------------------------------------------
 * New Tobago Style definitions:
 * Syntax: .tobago-<elementname>-<attribute>
 * Possible attributes: default, disabled, readonly, inline, error
 * default always is rendered as block.
---------------------------------------------------------------------------- */

/* button ------------------------------------------------------------------ */

.tobago-button-default {
  border-left: 1px solid #ddeeff;
  border-right: 1px solid #6688aa;
  border-top: 1px solid #ddeeff;
  border-bottom: 1px solid #6688aa;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: #bbccdd;
  font-weight: normal;
  cursor: pointer;
}

.tobago-button-disabled {
  cursor: default;
}

.tobago-button-default img {
  margin-right: 5px;
  vertical-align: middle;
}

/* selectBooleanCheckbox --------------------------------------------------- */

.tobago-selectBooleanCheckbox-default {
  background: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tobago-selectBooleanCheckbox-disabled {
}

.tobago-selectBooleanCheckbox-inline {
}

.tobago-selectBooleanCheckbox-error {
  border: 2px solid #ff0000;
}

/* selectOneListbox */
.tobago-selectOneListbox-default {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-selectOneListbox-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-selectOneListbox-readonly {
  background-color: #bbccdd;
}

/*.tobago-selectOneListbox-error {
	border: 1px solid #ff0000;
}*/

/* treeListbox */
.tobago-treeListbox-default {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-treeListbox-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-treeListbox-readonly {
  background-color: #bbccdd;
}

/* selectManyCheckbox ----------------------------------------------------------- */
.tobago-selectManyCheckbox-default {
  font-family: arial, helvetica, sans-serif;
  background: transparent;
}

/*.tobago-selectManyCheckbox-error {
	border: 1px solid #ff0000;
}*/

/* file -------------------------------------------------------------------- */

.tobago-file-default {
  height: 25px;
}

.tobago-file-error {
  border-color: #ff0000;
}

/* formatted --------------------------------------------------------------- */

.tobago-formatted-default {
  font-family: arial, helvetica, sans-serif;
}

/* gridLayout -------------------------------------------------------------- */

.tobago-gridLayout-default {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}

.tobago-gridLayout-cell-td {
  border-spacing: 0px;
  padding: 0px;
  margin: 0px;
}

div.tobago-gridLayout-default {
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 5px;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.tobago-gridLayout-first-row {
  padding-top: 0px;
}

div.tobago-gridLayout-first-column {
  padding-left: 0px;
}

/* box ---------------------------------------------------------------- */

fieldset.tobago-box-default {
  border: 2px groove #ddeeff;
  margin-left: 0px;
  padding: 10px;
}

legend.tobago-box-default {
  color: black; /*  font-size: 14px;*/
}

.tobago-box-toolbar-div {
  position: relative;
  top: -36px;
  right: -12px;

}

.tobago-box-toolbar-span {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px groove #f6faff;
  background: #bbccdd; /*  font-size: 22px; */
  white-space: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div.tobago-box-default {
  overflow: auto;
  position: relative;
  top: 0px;
  left: 0px;
}

/* label ------------------------------------------------------------------- */

div.tobago-label-markup-number {
  text-align: right;
}

a.tobago-label-markup-number {
  padding-left: 0px;
  padding-right: 8px;

}

div.tobago-label-default {

}

a.tobago-label-default {
  padding-top: 1px;
  display: -moz-box;
  margin-top: 3px;
}

label.tobago-label-default {
  height: 23px;
  padding: 0px 0px 0px 2px;
  margin: 0px;
  border: 0px solid transparent;
  white-space: nowrap; /*  font-size: 14px;*/
/*  border: 2px solid #ccddee; */
/*  background: #ccddee; */
}

.tobago-label-disabled {
  color: #778899;
}

.tobago-label-inline {
  width: auto;
}

label.tobago-label-inline {
  width: auto;
  padding-left: 0px;
}

label.tobago-label-markup-fatal {
  color: #FF00FF;
}

label.tobago-label-markup-error {
  color: #FF0000;
}

label.tobago-label-markup-warn {
  color: #FFA500;
}

label.tobago-label-markup-info {
  color: #000000;
}

/* selectManyListbox ------------------------------------------------------- */

.tobago-selectManyListbox-default {
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  height: 25px;
}

.tobago-selectManyListbox-readonly {
  background-color: #bbccdd;
}

.tobago-selectManyListbox-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-selectManyListbox-error {
  border-style: solid;
  border-color: #ff0000;
}

/* page -------------------------------------------------------------------- */
.tobago-page-default {
  background: #bbccdd;
  font-family: arial, helvetica, sans-serif; /*  font-size: 14px;*/
  padding: 0px;
  margin: 0px;
}

.tobago-page-noscript {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  height: 50px;
  border: 1px solid black;
  padding: 30px;
  background-color: white;
  font-size: 15px;
}

/* popup-------------------------------------------------------------- */

.tobago-popup-default {
  cursor: wait;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; /*background: url(../../standard/image/popupBg.png);*/
  opacity: .40;
  background: url( ../image/popupBg.png );
  filter: alpha( opacity = 40 );
  -moz-opacity: 0.4;
}

.tobago-popup-blink {
  background: red;
}

.tobago-popup-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  filter: progid: DXImageTransform . Microsoft . Alpha( style = 0, opacity = 0 );
}

.tobago-popup-content {
  border-width: 0px;
  background: #bbccdd;
  position: absolute;
  cursor: default;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-background-clip: initial;
  -moz-background-origin: initial;
  -moz-background-inline-policy: initial;
}

.tobago-popup-none {
  display: none;
}

.tobago-popup-parent {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* selectOneRadio ---------------------------------------------------------- */

.tobago-selectOneRadio-default {
  background: transparent;
}

/* richTextEditor ---------------------------------------------------------- */

.tobago-richTextEditor-default {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-richTextEditor-container {
}

.tobago-richTextEditor-header-div {
  height: 28px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 0px; /*  font: 12px arial, helvetica, sans-serif;*/
}

.tobago-richTextEditor-toolbar-button-span-enabled, .tobago-richTextEditor-toolbar-button-span-disabled {
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-right: 5px; /*  font: 12px arial, helvetica, sans-serif; */
}

.tobago-richTextEditor-toolbar-button-span-enabled {
  cursor: pointer;
}

.tobago-richTextEditor-toolbar-button-span-disabled {
  color: #778899;
}

.tobago-richTextEditor-toolbar-button-hover {
  border: 1px solid black;
  background: #c5c5c5;
  margin: -1px;
}

.tobago-richTextEditor-toolbar-button-label {
  padding-left: 5px;
}

.tobago-richTextEditor-body {
  border-left: 2px solid #7b7d7b;
  border-right: 2px solid #f6f2f6;
  border-top: 2px solid #7b7d7b;
  border-bottom: 2px solid #f6f2f6;
  margin: 0px;
  background: #ffffff;
  height: 75px;
}

textarea.tobago-richTextEditor-body {
}

div.tobago-richTextEditor-body {
  overflow: auto;
}

/* selectOneChoice --------------------------------------------------------- */

.tobago-selectOneChoice-default {
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
}

.tobago-selectOneChoice-disabled {
  background: #c0c0c0;
}

.tobago-selectOneChoice-error {
  border-style: solid;
  border-color: #ff0000;
}

.tobago-selectOneChoice-readonly {
  background-color: #bbccdd;
}

/* text -------------------------------------------------------------------- */

.tobago-out-default {
  font-family: arial, helvetica, sans-serif;
}

.tobago-out-markup-strong {
  font-weight: bold;
}

.tobago-out-markup-deleted {
  text-decoration: line-through;
}

.tobago-out-markup-number {
  display: block;
  text-align: right;
}

/* textArea ---------------------------------------------------------------- */

.tobago-textArea-default {
  border-color: #bbccdd;
  border-style: inset;
  border-width: 2px;
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  margin: 0px;
}

.tobago-textArea-readonly {
  background: #bbccdd;
}

.tobago-textArea-disabled {
  color: #778899;
  background: #bbccdd;
}

/*.tobago-textArea-required {
   background-image: url( "../image/required.gif" );
   background-position: 3px 3px;
   background-repeat: no-repeat;
} */

.tobago-textArea-error {
  border-style: solid;
  border-color: #ff0000;
}

/* in ---------------------------------------------------------------------- */

.tobago-in-default {
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  height: 25px;
  color: #000000;
  border-color: #bbccdd;
  border-style: inset;
  border-width: 2px;
  margin: 0px;
}

.tobago-in-markup-number {
  display: block;
  text-align: right;
}

.tobago-in-required {
  background-image: url( "../image/required.gif" );
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

.tobago-in-readonly {
  background: #bbccdd;
}

.tobago-in-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-in-error {
  border-style: solid;
  border-color: #ff0000;
}

.tobago-in-suggest-popup {
  position: absolute;
  overflow: hidden;
  width: 250px;
  background-color: white;
  border: 1px solid #888;
  margin: 0px;
  padding: 0px;
  z-index: 5;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-in-suggest-popup li {
  white-space: nowrap;
}

.tobago-in-suggest-popup li.selected {
  background-color: #ffb;
}

.tobago-in-suggest-popup ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* date ---------------------------------------------------------------------- */

.tobago-date-default {
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  height: 25px;
  color: #000000;
  border-color: #bbccdd;
  border-style: inset;
  border-width: 2px;
  margin: 0px;
}

.tobago-date-required {
  background-image: url( "../image/required.gif" );
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

.tobago-date-readonly {
  background: #bbccdd;
}

.tobago-date-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-date-error {
  border-style: solid;
  border-color: #ff0000;
}

/* end --------------------------------------------------------------------- */

.tobago-input-picker {
  vertical-align: baseline;
}

/* object ------------------------------------------------------------------ */

.tobago-object-default {
  border: 0px solid black;
}

/* separator ------------------------------------------------------------------- */

div.tobago-separator-default {
  overflow: hidden;
}

fieldset.tobago-separator-default {
  border-left: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-top: 1px solid #333;
}

legend.tobago-separator-default, .tobago-separator-label-default {
  font: bold 12px arial, helvetica, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.tobago-separator-start-default {
  width: 20px;
}

hr.tobago-separator-default {
  border-top: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #E2E2E2;
}

/* time -------------------------------------------------------------------- */

.tobago-time-default {
  height: 25px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-time-borderDiv {
  border: 2px inset #bbccdd;
  background: white;
  height: 25px;
  width: 58px;
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-time-borderDiv-seconds {
  width: 87px;
}

.tobago-time-input {
  height: 21px;
  width: 24px;
  border: 1px solid white;
  background: white;
  text-align: center;
}

.tobago-time-input-selected {
  border: 1px solid red;
}

.tobago-time-sep {
}

.tobago-time-inc-image {
  position: absolute;
  top: 0px;
  left: 63px;
  cursor: pointer;
}

.tobago-time-dec-image {
  position: absolute;
  bottom: 0px;
  left: 63px;
  cursor: pointer;
}

.tobago-time-image-seconds {
  left: 92;
}

/* Toolbar ----------------------------------------------------------------- */
.tobago-toolBar-default {
  border: 2px groove #f6faff;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-toolBar-div-inner {
  padding: 4px;
}

.tobago-toolbar-orientation-right {
  right: 0px;
  position: absolute;
}

.tobago-toolbar-button {
  float: left;
  font-weight: normal;
  font-family: arial, helvetica, sans-serif;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin: 1px;
  border: 0px solid #bbccdd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-toolbar-button-table {
  font-weight: normal;
  font-family: arial, helvetica, sans-serif;
}

.tobago-tabNavigationBar-button {
  float: left;
}

.tobago-toolbar-button-box-facet {
  float: left;
}

.tobago-toolBar-button-enabled {
  cursor: pointer;
}

.tobago-toolBar-button-selected-enabled {
  cursor: pointer;
  margin: 0px;
  border-right: 1px solid #ddeeff;
  border-left: 1px solid #6688aa;
  border-bottom: 1px solid #ddeeff;
  border-top: 1px solid #6688aa;
  background: #c2d3e4;
}

.tobago-toolBar-button-box-facet-selected-enabled {
  cursor: pointer;
  margin: 0px;
  border-right: 1px solid #ddeeff;
  border-left: 1px solid #6688aa;
  border-bottom: 1px solid #ddeeff;
  border-top: 1px solid #6688aa;
  background: #c2d3e4;
}

.tobago-tabNavigationBar-button-selected-enabled {
  cursor: pointer;
  margin: 0px;
  border-right: 1px solid #ddeeff;
  border-left: 1px solid #6688aa;
  border-bottom: 1px solid #ddeeff;
  border-top: 1px solid #6688aa;
  background: #c2d3e4;
}


.tobago-toolBar-button-disabled {
  color: #778899;
}

.tobago-toolBar-button-table-disabled {
  color: #778899;
}

.tobago-toolbar-button-table-box-facet-disabled {
  color: #778899;
}

.tobago-toolbar-label-td {
  height: 19px; /*  background: lime;*/
  white-space: nowrap;
}

.tobago-toolBar-button-menu {
  position: relative;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px; /*  background: yellow;*/
}

/*
  ! css classes tobago-toolBar-button-hover and tobago-toolBar-button-menu-focus
    should have the same content, but needs different names !
*/
.tobago-toolBar-button-hover {
  margin: 0px;
  border-left: 1px solid #ddeeff;
  border-right: 1px solid #6688aa;
  border-top: 1px solid #ddeeff;
  border-bottom: 1px solid #6688aa;
  background: #ccddee;
}

.tobago-toolBar-button-menu-focus {
  margin: 0px;
  border-left: 1px solid #ddeeff;
  border-right: 1px solid #6688aa;
  border-top: 1px solid #ddeeff;
  border-bottom: 1px solid #6688aa;
  background: #ccddee;
}

.tobago-toolBar-button-image {
/* vertical-align: bottom;*/
/* margin-bottom: 2px;*/
/* background: red;*/
}

.tobago-toolBar-button-image-small {
  width: 16px;
  height: 16px;
}

.tobago-toolBar-button-image-big {
  width: 32px;
  height: 32px;
}

a:link.tobago-toolBar-button-link, a:visited.tobago-toolBar-button-link, a:active.tobago-toolBar-button-link {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

/*
.tobago-tab-link {
  text-decoration: none;
}
*/

.tobago-tab-disabled {
  color: #778899;
}

.tobago-toolBar-button-label {
  padding-left: 5px;
}
