/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * theme: scarborough
 * agent: standard
 */

/* Global settings ------------------------------------------------------------------ */

form {
  margin: 0;
}

/*
  This is to make the menu bar to be always at the top of the page.
  The "position: fixed;" doesn't work with ie6 and makes
  on other browsers problems, when clicking the menu (the scroll panel scrolls then).
*/
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* accesskey ---------------------------------------------------------------- */

.tobago-x-accessKey {
  text-decoration: underline;
}

/* box ---------------------------------------------------------------- */

fieldset.tobago-box {
  border: 2px groove #ddeeff;
  margin: 0;
/*  padding: 20px 10px 10px 10px;*/
}

.tobago-box-legend {
  color: black; /*  font-size: 14px;*/
}

.tobago-box-content {
  padding: 5px;
  /* XXX TOBAGO3
  position: absolute;
  overflow: hidden;
  */
}

.tobago-box-toolbarOuter {
  position: relative;
  top: -36px;
  right: -12px;

}

.tobago-box-toolbarInner {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px groove #f6faff;
  background: #bbccdd; /*  font-size: 22px; */
  white-space: nowrap;
}

/* toolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"
*/

.tobago-boxToolBar {
  border: 2px groove #F6FAFF;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.tobago-boxToolBar-item {
  position: relative;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.tobago-boxToolBar-item-markup-disabled {
  color: #778899;
  cursor: default;
}

.tobago-boxToolBar-button, .tobago-boxToolBar-menu {
  position: absolute;
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.tobago-boxToolBar-item img {
  position: absolute;
}

.tobago-boxToolBar-label {
  position: absolute;
  font: bold 12px arial,helvetica,sans-serif;
  white-space: nowrap;
}

.tobago-boxToolBar-button-markup-selected {
  background-color: #CCDDEE;
}

.tobago-boxToolBar-button-markup-hover {
  background-color: #CCDDEE;
}

.tobago-boxToolBar-separator {
  border: 1px inset #bbccdd;
  left: 4px;
  width: 0;
  top: 3px;
  bottom: 3px;
  position: absolute;
}

/* button ------------------------------------------------------------------ */

.tobago-button {
  border-width: 1px;
  border-style: solid;
  border-color: #ddeeff;
  border-right-color: #6688aa;
  border-bottom-color: #6688aa;
  padding: 2px;
  background: #bbccdd;
  font-weight: normal;
  cursor: pointer;
  height: 19px;
}

.tobago-button-markup-default {
  border-width: 2px;
  padding: 1px;
}

.tobago-button-markup-disabled {
  cursor: default;
}

.tobago-button img {
  margin-right: 5px;
  /* here we need "middle" for icons that are not 16px */
  vertical-align: middle;
  /* when we use "middle", we need -2px instead of -1px here */
  margin-top: -2px;
}

.tobago-button span {
  vertical-align: top;
}

/* calendar ------------------------------------------------------------------- */

.tobago-calendar-row {
  white-space: nowrap;
}

img.tobago-calendar-header {
  width: 15px;
  height: 15px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
}

span.tobago-calendar-header {
  width: 88px;
  height: 15px;
  padding: 2px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: bottom;
}

.tobago-calendar-day, .tobago-calendar-dayOfWeek {
  padding: 3px;
  width: 18px;
  height: 14px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.tobago-calendar-day-markup-disabled {
  color: #999999;
}

.tobago-calendar-day-markup-selected {
  background-color: #ffffff;
  padding: 2px;
  border: 1px;
}

/* date ---------------------------------------------------------------------- */

.tobago-date {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  background: #ffffff;
  height: 17px;
  color: #000000;
  border: 2px inset #bbccdd;
  margin: 0;
  padding: 2px;
}

.tobago-date-markup-required {
  background-image: url( "../image/required.png" );
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

.tobago-date-markup-readonly {
  background: #bbccdd;
}

.tobago-date-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-date-markup-error, .tobago-date-markup-fatal {
  border-style: solid;
  border-color: #ff0000;
}

/* datePicker ---------------------------------------------------------------------- */

.tobago-datePicker-icon {
  vertical-align: bottom;
}

/* file -------------------------------------------------------------------- */

.tobago-file {
  background: url("../image/file-upload.png") no-repeat right center transparent;
}

.tobago-file-pretty {
  color: #000000;
  background-color: #ffffff;
  position: absolute;
  border: 2px inset #bbccdd;
  height: 17px;
  padding: 2px;
  margin: 0;
  left: 0;
  right: 21px;
  top: 0;
}

.tobago-file-pretty-markup-required {
  background: url("../image/required.png") no-repeat 3px 50% #FFFFFF;
}

.tobago-file-pretty-markup-readonly {
  background-color: #bbccdd;
}

.tobago-file-pretty-markup-disabled {
  color: #778899;
  background-color: #bbccdd;
}

.tobago-file-pretty-markup-warn {
  border-color: #ffa500;
}

.tobago-file-pretty-markup-error {
  border-color: #ff0000;
}

.tobago-file-pretty-markup-fatal {
  border-color: #ff00ff;
}

.tobago-file-real {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity: 0);
}

/* formatted --------------------------------------------------------------- */

.tobago-formatted {
  font-family: arial, helvetica, sans-serif;
}

/* gridLayout -------------------------------------------------------------- */

/* XXX TOBAGO3
.tobago-gridLayout {
  border-spacing: 0;
  padding: 0;
  margin: 0;
}

.tobago-gridLayout-cell-td {
  border-spacing: 0;
  padding: 0;
  margin: 0;
}

div.tobago-gridLayout {
  padding: 0;
  overflow: hidden;
}

div.tobago-gridLayout-first-row {
  padding-top: 0;
}

div.tobago-gridLayout-first-column {
  padding-left: 0;
}
*/

/* in ---------------------------------------------------------------------- */

.tobago-in {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  background: #ffffff;
  height: 17px;
  color: #000000;
  border: 2px inset #bbccdd;
  margin: 0;
  padding: 2px;
}

.tobago-in-markup-number {
  display: block;
  text-align: right;
}

.tobago-in-markup-required {
  background: url("../image/required.png") no-repeat 3px 50%;
}

.tobago-in-markup-readonly {
  background: #bbccdd;
}

.tobago-in-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-in-markup-error, .tobago-in-markup-fatal {
  border: 2px solid #ff0000;
}

.tobago-in-placeholder {
  position: absolute;
  padding: 3px 4px;
  color: #aaaaaa;
  cursor: text;
}

.tobago-in-suggestPopup {
  position: absolute;
  overflow: hidden;
  width: 250px;
  background-color: white;
  border: 1px solid #888;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.tobago-in-suggestPopup a {
  text-decoration: none;
  color: black;
}

.tobago-in-suggestPopup li {
  white-space: nowrap;
}

.tobago-in-suggestPopup li.selected {
  background-color: #ffb;
}

.tobago-in-suggestPopup ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* label ------------------------------------------------------------------- */

.tobago-label {
  height: 19px;
  width: 144px;
  padding: 3px 2px 3px 2px;
  margin: 0;
  border: 0 solid transparent;
  white-space: nowrap;
  vertical-align: top;
  display: inline-block;
}

.tobago-label-markup-disabled {
  color: #778899;
}

.tobago-label-markup-fatal {
  color: #FF00FF;
}

.tobago-label-markup-error {
  color: #FF0000;
}

.tobago-label-markup-warn {
  color: #FFA500;
}

.tobago-label-markup-info {
  color: #000000;
}

/* MenuBar, Menu, etc. ------------------------------------------------------------------ */

.tobago-menuBar,
.tobago-menuBar a:link,
.tobago-menuBar a:visited,
.tobago-menuBar a:active,
.tobago-page-menuStore,
.tobago-page-menuStore a:link,
.tobago-page-menuStore a:visited,
.tobago-page-menuStore a:active {
  color: black;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
}


.tobago-menuBar li,
.tobago-page-menuStore li {
  background-color: #aabbcc;
  list-style: none outside none;
}

li.tobago-menu-markup-disabled a,
li.tobago-menu-markup-disabled a:link,
li.tobago-menu-markup-disabled a:visited,
li.tobago-menu-markup-disabled a:active {
  color: #778899;
}

li.tobago-menu-markup-selected {
  background-color: #d8e9fb;
}

.tobago-menuBar {
  padding: 0;
  margin: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6688aa;
  height: 18px;
  left: 0;
  top: 0;
  position: relative;
  width: 100%;
  background-color: #aabbcc;
}

.tobago-page-menuStore {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
}

.tobago-menuBar ol,
.tobago-page-menuStore ol {
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  visibility: hidden;
  position: absolute;
  display: none;
}

.tobago-menu,
.tobago-menu-selectOne {
  white-space: nowrap;
  padding: 2px 3px 2px 25px;
  background-repeat: no-repeat; /* prepare for images via element style */
  background-position: 5px center;
}

.tobago-menu-markup-top {
  float: left;
  padding: 2px 3px 2px 5px;
  height: 14px;
  /* TODO: overflow: hidden; is needed for IE6 */
  overflow: hidden;
}

.tobago-menuSeparator {
  padding: 2px 3px 2px 5px;
  display: block;
  position: static;
}

.tobago-menuSeparator hr {
  margin: 3px 0;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.tobago-menu-contextMenu, .tobago-menu-dropDownMenu {
  display: inline;
  width: 0;
  height: 0;
  position: absolute;
  visibility: hidden;
}

/* messages --------------------------------------------------- */

.tobago-messages {
  white-space: nowrap;
}

.tobago-messages-item-markup-fatal {
  color: #FF00FF;
}

.tobago-messages-item-markup-error {
  color: #FF0000;
}

.tobago-messages-item-markup-warn {
  color: #FFA500;
}

.tobago-messages-item-markup-info {
  color: #000000;
}

/* object ------------------------------------------------------------------ */

.tobago-object {
  border: 0 solid black;
}

/* out -------------------------------------------------------------------- */

.tobago-out {
  font-family: arial, helvetica, sans-serif;
}

.tobago-out-markup-strong {
  font-weight: bold;
}

.tobago-out-markup-deleted {
  text-decoration: line-through;
}

.tobago-out-markup-number {
  display: block;
  text-align: right;
}

/* page -------------------------------------------------------------------- */

.tobago-page {
  background: #bbccdd;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* relative instead of absolute, because IE: printing wouldn't be scaled */
  position: relative;
  z-index: 0;
}

.tobago-page-content {
  /*position: absolute; XXX TOBAGO3*/
  z-index: 0;
  overflow: auto;
  padding: 10px;
}

.tobago-page-content-markup-portlet {
    position: relative;
}

.tobago-page-overlay {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/* TODO: better z-index strategy */
  z-index: 10000;
}

.tobago-page-overlay-markup-wait {
  cursor: wait;
}

.tobago-page-overlay-markup-error {
  cursor: default;
}

.tobago-page-overlayCenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
/* TODO: better z-index strategy */
  z-index: 10000;
}

.tobago-page-overlayCenter img {
  position: relative;
}

.tobago-page-overlayWaitPreloadedImage,
.tobago-page-overlayErrorPreloadedImage,
.tobago-page-pngFixBlankImage,
.tobago-page-overlayBackgroundImage {
  display: none;
}

.tobago-page-noscript {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  height: 50px;
  border: 1px solid black;
  padding: 30px;
  background-color: white;
  font-size: 15px;
}

.tobago-page-preventFrameAttacks {
  display: none;
}

/* panel -------------------------------------------------------------- */

.tobago-panel {
  overflow: hidden;
}

/* popup -------------------------------------------------------------- */

.tobago-popup-shield {
  cursor: wait;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .40;
  background: url( ../image/popupBg.png );
}

.tobago-popup-blink {
  background: red;
}

/* progress -------------------------------------------------------------- */

.tobago-progress-value {
  height: 20px;
  background: #aabbcc;
/* XXX TOBAGO3
  position: absolute;
  left: 0;
  top: 0;
*/
}

.tobago-progress {
  height: 20px;
  background: #ddeeff;
  border: 2px inset #bbccdd;
}

/* selectBooleanCheckbox --------------------------------------------------- */

.tobago-selectBooleanCheckbox {
  background: transparent;
  margin-top: 2px;
  margin-bottom: 2px;
}

.tobago-selectBooleanCheckbox-markup-disabled {
  color: #778899;
}

.tobago-selectBooleanCheckbox-markup-error {
  border: 2px solid #ff0000;
}

/* selectManyCheckbox ----------------------------------------------------------- */

.tobago-selectManyCheckbox {
  background: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tobago-selectManyCheckbox-markup-disabled {
  color: #778899;
}

/* todo after removing IE6 support please use ">" */
.tobago-selectManyCheckbox-markup-inline li {
  display: inline;
}

.tobago-selectManyCheckbox-markup-error label {
  border: 1px solid #FF0000;
}

/* selectManyListbox ------------------------------------------------------- */

.tobago-selectManyListbox {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  background: #ffffff;
  height: 25px;
}

.tobago-selectManyListbox-markup-readonly {
  background-color: #bbccdd;
}

.tobago-selectManyListbox-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-selectManyListbox-markup-error {
  border-style: solid;
  border-color: #ff0000;
}

/* selectManyShuttle ----------------------------------------------------------- */

.tobago-selectManyShuttle {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  background: transparent;
}

.tobago-selectManyShuttle-markup-readonly {
  background-color: #bbccdd;
}

.tobago-selectManyShuttle-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-selectManyShuttle-toolBar {
  position:absolute;
  top:50%;
  margin:-52px 5px;
  width:50px;
  height:52px;
}

.tobago-selectManyShuttle-hidden {
  display:none
}

.tobago-selectManyShuttle-addAll,
.tobago-selectManyShuttle-add,
.tobago-selectManyShuttle-remove,
.tobago-selectManyShuttle-removeAll {
  width:40px;
}

.tobago-selectManyShuttle-unselected-markup-error,
.tobago-selectManyShuttle-selected-markup-error {
  border-style: solid;
  border-color: #ff0000;
}


/* selectOneChoice --------------------------------------------------------- */

.tobago-selectOneChoice {
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
}

.tobago-selectOneChoice-markup-disabled {
  background: #c0c0c0;
}

.tobago-selectOneChoice-markup-readonly {
 background-color: #bbccdd;
}

.tobago-selectOneChoice-markup-error {
  border-style: solid;
  border-color: #ff0000;
}

/* selectOneListbox --------------------------------------------------- */

.tobago-selectOneListbox {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-selectOneListbox-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-selectOneListbox-markup-readonly {
  background-color: #bbccdd;
}

.tobago-selectOneListbox-markup-error {
  border-style: solid;
  border-color: #ff0000;
}

/* selectOneRadio ---------------------------------------------------------- */

.tobago-selectOneRadio {
  background: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tobago-selectOneRadio img {
  margin-right: 5px;
  margin-left: 5px;
}

.tobago-selectOneRadio-markup-disabled {
  color: #778899;
}

/* todo after removing IE6 support please use ">" */
.tobago-selectOneRadio-markup-inline li {
  display: inline;
}

.tobago-selectOneRadio-markup-error label {
  border: 1px solid #FF0000;
}

/* separator ------------------------------------------------------------------- */

.tobago-separator {
  /*position: absolute; XXX TOBAGO3*/
}

/* without label */

hr.tobago-separator {
  border: 1px inset #ddeeff;
  height: 0;
  margin: 0;
  /*position: absolute; XXX TOBAGO3*/
}

/* with label */

.tobago-separator-start hr {
  border: 1px inset #ddeeff;
  height: 0;
  margin: 0;
  width: 20px;
}

.tobago-separator-label {
  font: bold 12px arial, helvetica, sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}

.tobago-separator-end {
  width: 100%;
}

.tobago-separator-end hr {
  border: 1px inset #ddeeff;
  height: 0;
  margin: 0;
}

/* sheet ------------------------------------------------------------------ */

.tobago-sheet {
  overflow: hidden;
  position: relative;
}

/* XXX deprecated: .tobago-sheet-outer please use .tobago-sheet */

.tobago-sheet-headerDiv {
  overflow: hidden;
  position: relative;
}

.tobago-sheet-headerTable {
  width: 100%;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  table-layout: fixed;
}

.tobago-sheet-headerCell {
  position: relative;
  width: 100%;
}

.tobago-sheet-header {
  background-color: #bbccdd;
  border-color: #ddeeff #6688aa #6688aa #ddeeff;
	border-style: solid;
	border-width: 1px;
  padding: 2px;
	vertical-align: top;
  display: inherit;
  overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.tobago-sheet-header-markup-pure {
    padding: 0;
    border-width: 0;
}

/*.tobago-sheet-header-markup-ascending span, .tobago-sheet-header-markup-descending span {*/
  /*margin-right: 15px;*/
/*}*/

.tobago-sheet-header-markup-ascending img, .tobago-sheet-header-markup-descending img {
  position: absolute;
  right: 5px;
  top: 6px;
}

.tobago-sheet-header-markup-sortable {
   cursor: pointer;
}

.tobago-sheet-headerResize {
  position: absolute;
  right: -5px;
  top: 0;
  width: 10px;
  height: 100%;
  z-index: 1;
  cursor: col-resize; /* col-resize is allowed in CSS3+IE6, opera has a separate definition */
}

.tobago-column-menu {
  position: absolute;
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  vertical-align: middle;
}

.tobago-column-menu img{
  position: relative;
  top: 0px;
  right: 0px;
}

.tobago-sheet-body {
  overflow: auto;
  position: relative;
  background: #ebf4fd;
}

.tobago-sheet-bodyTable {
  table-layout: fixed;
  width: 100%;
}

.tobago-sheet-cell {
  padding: 3px 2px;
  vertical-align: top;
  overflow: hidden;
  line-height: 14px;
}

.tobago-sheet-cell-markup-clickable {
   cursor: pointer;
}

.tobago-sheet-cell-markup-filler {
  padding-left: 0;
  padding-right: 0;
}

.tobago-sheet-cell-markup-pure {
  padding: 0;
}

.tobago-sheet-row-markup-odd {
  background: #ffffff;
}

.tobago-sheet-row-markup-even {
  background: #d8e9fb;
}

.tobago-sheet-row-markup-selected, .tobago-sheet-row-markup-selected td {
	background: highlight;
	color: highlighttext;
}

.tobago-sheet-footer {
  position: relative;
  left: 0;
  top: 0;
  height: 20px;
  text-align: center;
  overflow: hidden;
}

.tobago-sheet-pagingOuter-markup-left {
  position : absolute;
  top: 0;
  left: 0;
}
.tobago-sheet-pagingOuter-markup-center {

}

.tobago-sheet-pagingOuter-markup-right {
  position : absolute;
  top: 0;
  right: 0;
}

.tobago-sheet-pagingInput {
  position: relative;
  width: 30px;
  height: 16px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.tobago-sheet-pagingOuter {
  vertical-align: top;
  cursor: pointer;
}

.tobago-sheet-pagingText {
  cursor: pointer;
  padding-right: 5px;
  vertical-align: top;
}

.tobago-sheet-footerPagerButton {
  cursor: pointer;
  vertical-align: top;
}

.tobago-sheet-footerPagerButton-markup-disabled {
  cursor: auto;
}

.tobago-sheet-pagingLink {
  padding-left: 2px;
  padding-right: 2px;
  vertical-align: top;
}

a:link.tobago-sheet-pagingLink, a:visited.tobago-sheet-pagingLink,
a:active.tobago-sheet-pagingLink {
  color: #000000;
}

.tobago-sheet-selectorMenu {
  width: 15px;
  height:15px;
  position: relative;
  margin-top: 2px;
  margin-left: -4px;
}

.tobago-sheet-columnSelector {
  margin-top: 0;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
}

/* suggest ---------------------------------------------------------------------- */

/* XXX TOBAGO3
.tobago-suggest {
  position: absolute;
}
*/

/* tab ------------------------------------------------------------------ */

.tobago-tab {
  border: 1px solid #ddeeff;
  border-right-color: #778899;
  padding: 2px 6px 1px 6px;
  margin-top: 2px;
  margin-right: 2px;
  vertical-align: top;
  float: left;
  cursor: pointer;
}

.tobago-tab img {
  height: 12px;
}

.tobago-tab a:link,
.tobago-tab a:visited,
.tobago-tab a:active {
  color: #000000;
  text-decoration: none;
}

.tobago-tab-markup-selected {
  border-bottom-width: 0;
  font-weight: bold;
  margin-top: 0;
  padding-bottom: 4px;
}

.tobago-tab-markup-disabled,
.tobago-tab-markup-disabled a:link,
.tobago-tab-markup-disabled a:visited,
.tobago-tab-markup-disabled a:active {
  color: #778899;
}

.tobago-tab-markup-error,
.tobago-tab-markup-error a:link,
.tobago-tab-markup-error a:visited,
.tobago-tab-markup-error a:active {
  color: #FF0000;
}

.tobago-tab-markup-error span {
  background-image: url("org/apache/myfaces/tobago/renderkit/html/speyside/standard/image/dialog-error.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 13px;
}

.tobago-tab-toolBar {
  position: relative;
  float: right;
  top: -2px;
  right: -7px;
}

.tobago-tab-toolBar-markup-selected {
  top: -1px;
  right: -6px;
}

.tobago-tab-image {
  position: relative;
  top: 1px;
}

.tobago-tab-image-right-margin {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.tobago-tabGroup {
  /*position: absolute;XXX TOBAGO3*/
}

.tobago-tabGroup-header {
  /*position: relative;XXX TOBAGO3*/
  font: 12px arial, helvetica, sans-serif;
  overflow: auto;
  /*overflow: hidden;XXX TOBAGO3*/
}

.tobago-tabGroup-headerInner {
  border-bottom: 1px solid #ddeeff;
  height: 20px;
  /*width: 10000px;XXX TOBAGO3*/
  font: 12px arial, helvetica, sans-serif;
  /*overflow: visible;XXX TOBAGO3*/
}

.tobago-tabGroup-toolBar {
  /*position: absolute;XXX TOBAGO3
  right: 0;
  top: 4px;
  height: 16px;
  width: 49px;
*/
  float: right;
  position: relative;
  bottom: 17px; /* TODO: not nice */
  border-bottom: 1px solid #ddeeff;
}

.tobago-tab-content {
  /*position: relative;XXX TOBAGO3*/
  border-color: #ddeeff #778899 #778899 #ddeeff;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  display: none;
  /*overflow: hidden;XXX TOBAGO3*/
}

.tobago-tab-content-markup-selected {
  display: block;
}

/* tabGroupToolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"
*/

.tobago-tabGroup-toolBar {
  cursor: pointer;
}

.tobago-tabGroupToolBar-item {
  position: relative;
  display: block;
  float: left;
  border-width: 0;
  border-style: solid;
  margin: 0 1px;
  left: -1px;
  top: 0;
}

.tobago-tabGroupToolBar-item-markup-selected {
  border-width: 0 1px;
  border-color: #aaaaaa;
  margin: 0;
}

.tobago-tabGroupToolBar-item-markup-disabled {
  color: #808080;
}

.tobago-tabGroupToolBar-button {
  position: relative;
  display: block;
}

.tobago-tabGroupToolBar-button-markup-selected {
  background-color: #EEEEEE;
}

.tobago-tabGroupToolBar-button-markup-hover {
  background-color: #DDDDDD;
}

.tobago-tabGroupToolBar-separator {
  border: 1px solid #DDDDDD;
}

/* textarea ---------------------------------------------------------------- */

.tobago-textarea {
  border-color: #bbccdd;
  border-style: inset;
  border-width: 2px;
  font-family: arial, helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  margin: 0;
  resize: none;
}

.tobago-textarea-markup-readonly {
  background: #bbccdd;
}

.tobago-textarea-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

/*.tobago-textarea-markup-required {
   background-image: url( "../image/required.png" );
   background-position: 3px 3px;
   background-repeat: no-repeat;
} */

.tobago-textarea-markup-error, .tobago-textarea-markup-fatal {
  border-style: solid;
  border-color: #ff0000;
}

/* time -------------------------------------------------------------------- */

.tobago-time-borderDiv {
  border: 2px inset #bbccdd;
  background-color: white;
  height: 21px;
  width: 58px;
/*XXX TOBAGO3
  position: absolute;
  top: 0;
  left: 0;
*/
}

.tobago-time-borderDiv-markup-seconds {
  width: 87px;
}

.tobago-time-borderDiv-markup-readonly {
  background: #bbccdd;
}

.tobago-time-borderDiv-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

.tobago-time-input {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  height: 15px;
  width: 22px;
  border-width: 0;
  padding: 2px 0;
  background-color: transparent;
  text-align: center;
}

.tobago-time-input:focus {
  background-color: #fafad2;
}

.tobago-time-sep {
}

.tobago-time-incImage, .tobago-time-decImage {
/*XXX TOBAGO3
  position: absolute;
*/
  left: 63px;
  cursor: pointer;
}

.tobago-time-incImage {
  top: 1px;
}

.tobago-time-decImage {
  top: 11px;
}

.tobago-time-incImage-markup-seconds, .tobago-time-decImage-markup-seconds {
  left: 92px;
}

input.tobago-time {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  background: #ffffff;
  height: 17px;
  color: #000000;
  border: 2px inset #bbccdd;
  margin: 0;
  padding: 2px;
}

input.tobago-time-markup-required {
  background-image: url( "../image/required.png" );
  background-position: 3px 50%;
  background-repeat: no-repeat;
}

input.tobago-time-markup-readonly {
  background: #bbccdd;
}

input.tobago-time-markup-disabled {
  color: #778899;
  background: #bbccdd;
}

input.tobago-time-markup-error, input.tobago-time-markup-fatal {
  border-style: solid;
  border-color: #ff0000;
}

/* toolBar ----------------------------------------------------------------- */

/* FIXME this is the same code for "toolBar", "boxToolBar" and "tabGroupToolBar"*/

.tobago-toolBar {
  border: 2px groove #F6FAFF;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.tobago-toolBar-item {
  position: relative;
  display: inline-block;
  border-width: 0;
  border-style: solid;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}

.tobago-toolBar-item-markup-disabled {
  color: #778899;
}

.tobago-toolBar-button, .tobago-toolBar-menu {
  position: absolute;
  border-width: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.tobago-toolBar-item img {
  position: absolute;
}

.tobago-toolBar-label {
  position: absolute;
  font: bold 12px arial,helvetica,sans-serif;
  white-space: nowrap;
}

.tobago-toolBar-button-markup-selected {
  background-color: #CCDDEE;
}

.tobago-toolBar-button-markup-hover {
  background-color: #CCDDEE;
}

.tobago-toolBar-separator {
  border: 1px inset #bbccdd;
  left: 4px;
  width: 0;
  top: 3px;
  bottom: 3px;
  position: absolute;
}

/* tree ------------------------------------------------------------------- */

.tobago-tree {
  overflow: auto;
  padding: 0;
  margin: 0;
  color: black;
  white-space: nowrap;
}

.tobago-treeNode {
  width: 100%;
}

.tobago-treeNode img {
  vertical-align: bottom;
  border: 0;
}

.tobago-treeNode a, .tobago-treeNode a:active, .tobago-treeNode a:hover {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
}

.tobago-treeNode a {
  color: black;
  text-decoration: none;
}

.tobago-treeNode a:hover {
  color: blue;
  text-decoration: underline;
}

.tobago-treeNode a:focus {
  background: #445566;
  color: highlighttext;
  text-decoration: none;
}

.tobago-treeNode-markup-disabled span {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
  color: #888888;
  text-decoration: none;
  cursor: default;
}

.tobago-treeNode-markup-marked a, .tobago-treeNode-markup-marked:focus a,
.tobago-treeNode-markup-marked label, .tobago-treeNode-markup-marked:focus label {
  background-color: #d8e9fb;
}

.tobago-treeNode-markup-strong {
  font-weight: bold;
}

.tobago-treeLabel {
  margin-left: 3px;
  padding: 1px 2px 1px 2px;
}

/* treeMenu ------------------------------------------------------------------- */

.tobago-treeMenu {
  overflow: auto;
  padding: 0;
  margin: 0;
  color: black;
}

.tobago-treeMenuNode {
  border: 1px solid #d8e9fb;
  margin: 0 0 -1px 0;
  position: relative;
}

.tobago-treeMenuNode-toggle {
  vertical-align: middle;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.tobago-treeMenuNode a, .tobago-treeMenuNode a:active, .tobago-treeMenuNode a:hover {
  padding: 1px 20px 1px 2px;
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
  left: 0;
  top: 0;
}

.tobago-treeMenuNode a:hover {
  text-decoration: underline;
}

.tobago-treeMenuNode a:focus {
  background: #445566;
  color: highlighttext;
  text-decoration: none;
}

.tobago-treeMenuNode-markup-disabled a, .tobago-treeMenuNode-markup-disabled a:hover {
  color: #888888;
  text-decoration: none;
  cursor: default;
}

.tobago-treeMenuNode-markup-marked, .tobago-treeMenuNode-markup-marked:focus {
  background-color: #d8e9fb;
}

.tobago-treeMenuNode-markup-strong {
  font-weight: bold;
}

.tobago-treeMenuNode-markup-hover {
  background-color: #d8e9fb;
}

.tobago-treeSelect input {
  margin-top: 1px;
  margin-bottom: 2px;
}

/* treeListbox ------------------------------------------------------------------- */

.tobago-treeListbox {
  overflow-x: auto;
}

.tobago-treeListbox-level {
/* without ie6 support we can use: .tobago-treeListbox > div > div */
  width: 160px;
  height: 100%;
  position: absolute;
  top: 0;
}

.tobago-treeListbox-select {
/* without ie6 support we can use: .tobago-treeListbox > div > div > select */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
