/* importing dojo and dijit css files */

@import "../script/dojo/dojo/resources/dojo.css";
@import "../script/dojo/dijit/themes/dijit.css";

/*
.dijitComboBoxNoArrow {
  padding: 0px;
  border-width: 0px !important;
}

.dijitComboBoxInput {
  padding: 0px;
  border-width: 0px !important;
}

.dijitComboBoxNoArrow .dijitComboBoxInput {
  border-right-width:0px !important;
}

*/

