/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.tobago-link-default {
  font: bold 12px arial, helvetica, sans-serif;
  color: #000000;
  text-decoration: none;
}

.tobago-link-disabled {
  color: #888888;
}

hr {
  border-top: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #E2E2E2;
}

h5 {
  font: bold 14px arial, helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Styles which are Speyside specific. They are reduced as much as possible,
but some definitions couldn?t be integrated into the new class system by
now. */
/*
table {
  font: 12px arial, helvetica, sans-serif;
}
*/

.tobago-textArea-spacer-custom {
  border-bottom-width: 1px;
  border-bottom-style: solid; /*none;*/

}

/*-- Menu --------------------------------------------------------------------*/

td.menu {
  height: 100%;
  background: #c1bebe url( ../image/nav_bg.gif ) repeat-y right;
}

/*-- Popup ------------------------------------------------------------------ */
.tobago-popup-content {
  background: #E2E2E2;
}

.tobago-popup-blink {
  background: #333333;
  -moz-opacity: .5;
  opacity: .5;
  filter: alpha( opacity = 50 );
}

/* Progress Control --------------------------------------------------------- */

img.tobago-progress-color1 {
  background-color: #660000;
}

img.tobago-progress-color2 {
  background-color: #ffffff;
}

/* Tab ---------------------------------------------------------------------- */

.tobago-tab-link {
  font: 12px Arial, Helvetica, sans-serif;
  color: #660000;
}

.tobago-tab-disabled {
  color: #808080;
}

div.tobago-tab-selected-outer {
  border-color: #000000;
  padding: 2px 0.2em 1px 0.2em;
  height: 19px;
  background: url( ../image/tab-header-selected-bg.gif ) repeat-x top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.tobago-tab-selected-inner {
  margin: 0px 0.4em;
  font: 12px arial, helvetica, sans-serif;
  color: #660000;
}

div.tobago-tab-unselected-outer {
  border-color: #000000;
  background: url( ../image/tab-header-unselected-bg.gif ) repeat-x top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.tobago-tab-unselected-inner {
  font: 12px arial, helvetica, sans-serif;
  color: #660000;
}

div.tobago-tab-fulfill {
  border-color: #000000;
  margin: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

.tobago-tab-content {
  border: 1px solid #000000;
  border-top: 0px solid transparent;
  padding: 10px 10px 10px 10px;
  background: #FAFAFA;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-tab-shadow {
  background: #B4B4B4;
  border: 1px solid #B4B4B4;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.tobago-tabNavigationBar {
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-right: 6px;
}

a:link.tab, a:visited.tab, a:active.tab {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #660000;
}

/* Tree Old ------------------------------------------------------------------- */

.tree-menu-item {
  border: 1px solid #CCCCCC;
  width: 200px; /* default */
  height: 16px;
}

.tree-item-label {
  font: 12px arial, helvetica, sans-serif;
}

a.tree-folder-label, .tree-folder-label {
  font: bold 12px arial, helvetica, sans-serif;
}

a.tree-folder-label-disabled, a.tree-item-label-disabled {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

a.tree-folder-label:hover, a.tree-item-label:hover {
  color: #000000;
  text-decoration: underline;
}

a.tree-folder-label-disabled:hover, a.tree-item-label-disabled:hover {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

a.tree-folder-label:focus, a.tree-item-label:focus {
  background: transparent;
  color: #000000;
}

.tree-item-marker, .tree-item-marker:focus, a.tree-item-marker, a.tree-item-marker:focus {
  background-color: #d3d3d3;
}

/* -----------------------------------------------------------------------------
 these styles are only for tree-items which have no href, for that
reason they are not defined as a:link
----------------------------------------------------------------------------- */
.tree-item-label, .tree-item-label:hover {
  color: #000000;
}

.tree-item-label:hover {
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */

.tree-item img {
  vertical-align: top;
  border: 0px;
}

.tree-icon {
  width: 16px;
  height: 16px;
}

.tree-junction {
  width: 19px;
  height: 16px;
}

.tobago-tree-menu-icon {
  width: 16px;
  height: 16px;
  float: right;
}

/* Tree ------------------------------------------------------------------- */

.tobago-treeNode-menu {
  border: 1px solid #CCCCCC;
  width: 200px; /* default */
  height: 16px;
}

.tobago-treeNode-default img {
  vertical-align: top;
  border: 0px;
}

.tobago-treeNode-default a {
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
}

.tobago-treeNode-disabled {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

.tobago-treeNode-default a:hover {
  color: #000000;
  text-decoration: underline;
}

.tobago-treeNode-disabled a:hover {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

.tobago-treeNode-default a:focus {
  background: transparent;
  color: #000000;
}

.tobago-treeNode-marker, .tobago-treeNode-marker:focus, .tobago-treeNode-marker a, .tobago-treeNode-marker:focus a {
  background-color: #d3d3d3;
}

/* ----------------------------------------------------------------------------
 * Tobago Style definitions:
 * Syntax: .tobago-<elementname>-<attribute>
 * Possible attributes: default, disabled, readonly, inline, error
 * default always is rendered as block.
---------------------------------------------------------------------------- */

/* button ------------------------------------------------------------------ */

.tobago-button-default {
  border: 1px #000000 solid;
  background: #ffffff;
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  height: 20px;
}

.tobago-button-disabled {
  color: GrayText;
}

/* code ------------------------------------------------------------------ */

.tobago-code {
  font: bold 14px Courier;
  color: #666666;
  padding-bottom: 2px;
}

.tobago-code-multiline {
  background: #CCCCCC;
  width: 530px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid black;
}

/* selectBooleanCheckbox --------------------------------------------------- */

.tobago-selectBooleanCheckbox-default {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* file  ------------------------------------------------------------------- */

.tobago-file-default {
  height: 20px;
}

/* box ----------------------------------------------------------------- */

div.tobago-box-default {
  overflow: visible;
}

.tobago-box-default {
  overflow: hidden;
  margin-top: 1px;
  background: #999999;
  border: 0px solid #999999;
  padding: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-box-header {
  top: -1px;
  background: #E8E8E8 url( ../image/box-header-bg.gif ) repeat-x top;
  height: 20px;
  border: 1px solid black;
  border-bottom: 1px dotted black;
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  padding: 0px;
  padding-left: 5px;
  overflow: hidden;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-box-header-label {
  padding-top: 2px;
  padding-bottom: 2px;
  float: left;
}

.tobago-box-header-toolbar-div {
  position: absolute;
  top: -2px;
  bottom: -2px;
  right: -1px;
}

.tobago-box-header-toolbar-label_off {
  top: -1px;
}

.tobago-box-content {
  position: relative;
  top: -1px;
  border: 1px solid #000000;
  border-top: 0px solid black;
  background-color: #FAFAFA;
  padding: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tobago-box-content-inner {
  overflow: auto;
}

/* label ------------------------------------------------------------------- */

div.tobago-label-default {
  background: #E8E8E8;
  border: 0px solid transparent;
  vertical-align: top;
  height: 19px;
  margin: 0px;
  padding-top: 0px;
}

a.tobago-label-default {
  padding-top: 0px;
}

label.tobago-label-default {
  font: bold 12px arial, helvetica, sans-serif; /*height: 19px;*/
/*height: auto;*/
  height: 15px;
  border: 0px solid transparent;
  margin-top: 3px;
  padding-top: 0px;
  padding-left: 8px;
  color: #000000;
  background-color: transparent;
}

.tobago-label-td {
  border: 0px solid transparent; /* border-bottom: 0px solid #E2E2E2;*/
/* see workaround in mozilla style! */
  vertical-align: top;
  height: 19px;
  margin: 0px;
  padding-top: 0px;
}

.tobago-label-td-underline-label {
  background: #E8E8E8; /*#c0c0c0;*/
  height: 1px;
}

.tobago-label-td-underline-spacer {
  height: 1px;
}

label.tobago-label-disabled {
  color: #808080;
}

.tobago-label-inline {
  padding-top: 5px; /* see workaround in mozilla style! */
  padding-left: 0px;
  margin-top: 1px;
  width: auto;
}

label.tobago-label-inline {
  padding-left: 0px;
}

label.tobago-label-error {
  background: url( ../image/label-error-bg.gif ) no-repeat bottom left;
  color: #FF0000;
}

label.tobago-label-markup-fatal {
  color: #FF00FF;
}

label.tobago-label-markup-error {
  color: #FF0000;
}

label.tobago-label-markup-warn {
  color: #FFA500;
}

label.tobago-label-markup-info {
  color: #000000;
}

/* page -------------------------------------------------------------------- */
.tobago-page-default {
  background: #E2E2E2;
  font: 12px arial, helvetica, sans-serif;
  margin-bottom: 0px;
  scrollbar-base-color: #000000;
  scrollbar-3dlight-color: #000000;
  scrollbar-darkshadow-color: #c0c0c0;
  scrollbar-arrow-color: #000000;
  scrollbar-face-color: #c0c0c0;
  scrollbar-highlight-color: #c0c0c0;
  scrollbar-shadow-color: #00000;
}

/* richTextEditor ---------------------------------------------------------- */

.tobago-richTextEditor-body {
  border: 1px solid #000000;
  background: #ffffff;
  font: 12px arial, helvetica, sans-serif;
}

/* text -------------------------------------------------------------------- */

.tobago-out-default {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
}

/* textArea ---------------------------------------------------------------- */

.tobago-textArea-default {
  font: 12px arial, helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  overflow: auto;
  border: 1px solid #000000;
  padding-left: 2px;
}

.tobago-textArea-readonly {
  background-color: #E8E8E8;
}

.tobago-textArea-disabled {
  color: #808080;
  background-color: #E8E8E8;
}

.tobago-textArea-error {
  border: 1px solid #FF0000;
}

/* in ---------------------------------------------------------------------- */

.tobago-in-default {
  border: 1px #000000 solid;
  height: 20px;
  font: 12px arial, helvetica, sans-serif;
  padding-left: 2px;
  padding-right: 2px;
}

.tobago-in-readonly {
  background-color: #E8E8E8;
}

.tobago-in-disabled {
  color: #808080;
  background-color: #E8E8E8;
}

.tobago-in-error {
  border: 1px solid #FF0000;
}

/* date ---------------------------------------------------------------------- */

.tobago-date-default {
  border: 1px #000000 solid;
  height: 20px;
  font: 12px arial, helvetica, sans-serif;
  padding-left: 2px;
  padding-right: 2px;
}

.tobago-date-readonly {
  background-color: #E8E8E8;
}

.tobago-date-disabled {
  color: #808080;
  background-color: #E8E8E8;
}

.tobago-date-error {
  border: 1px solid #FF0000;
}

/* selectOneChoice --------------------------------------------------------- */

.tobago-selectOneChoice-default {
  border: 1px solid #000000;
  font: 12px arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-selectOneChoice-error {
  border: 1px solid #FF0000;
}

.tobago-selectOneChoice-readonly {
 background-color: #E8E8E8;
}



/* selectOneRadio --------------------------------------------------------- */

.tobago-selectOneRadio-default {
  border: 1px;
  font: 12px arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-selectOneRadio-error {
  border: 1px solid #FF0000;
}

/* selectManyListbox ------------------------------------------------------- */

.tobago-selectManyListbox-default {
  font: 12px arial, helvetica, sans-serif;
  padding-top: -1px;
  color: #000000;
  height: 21px;

}

.tobago-selectManyListbox-disabled {
  background-color: #E8E8E8;
  color: #808080;
}

.tobago-selectManyListbox-readonly {
  background-color: #E8E8E8;
}

/* selectOnelistbox -------------------------------------------------------- */
.tobago-selectOneListbox-default {
  font: 12px arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-selectOneListbox-disabled {
  background-color: #E8E8E8;
  color: #808080;
}

.tobago-selectOneListbox-readonly {
  background-color: #E8E8E8;
}

/* Time -------------------------------------------------------------------- */
.tobago-time-default {
  height: 20px;
}

.tobago-time-borderDiv {
  border: 1px solid black;
  height: 20px;
  width: 55px;
}

.tobago-time-borderDiv-seconds {
  width: 83px;
}

.tobago-time-input {
  height: 18px;
  font: 12px arial, helvetica, sans-serif;
  color: #000000;
}

.tobago-time-input-selected {
  border: 1px solid #E8E8E8;
  background: #E8E8E8;
}

.tobago-time-sep {
  font: 12px arial, helvetica, sans-serif;
}

.tobago-time-inc-image {
  left: 60px;
}

.tobago-time-dec-image {
  left: 60px;
}

.tobago-time-image-seconds {
  left: 88;
}

/* treeListbox -------------------------------------------------------------- */
.tobago-treeListbox-default {
  font: 12px arial, helvetica, sans-serif;
  color: #000000;
}

/*
.tobago-treeListbox-disabled {
  background-color: #E8E8E8;
  color: #808080;
}

.tobago-treeListbox-readonly {
  background-color: #E8E8E8;
}
*/

/* Toolbar ----------------------------------------------------------------- */
.tobago-toolBar-default {
  border: 1px solid #000000;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.tobago-toolBar-div-inner {
/*  margin-left: -1px;*/
  padding: 0px;
}

.tobago-toolbar-button {
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
}

.tobago-toolbar-button-table {
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
}

.tobago-tabNavigationBar-button {
  float: left;
  padding:0 0 1px 0;
}

.tobago-toolbar-button-table-disabled {
  color: #808080;
}

.tobago-toolbar-button-table-box-facet-disabled {
  color: #808080;
}

.tobago-toolBar-button-span {
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  border: 1px solid #ffffff;
}

.tobago-toolBar-button-selected-enabled {
  cursor: pointer;
  margin: 0px;
  border-top: 1px solid #808080;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #808080;
  background: #dddddd;
}

.tobago-toolbar-button-box-facet {
  padding-top: 1px;
  padding-bottom: 1px;
}

.tobago-toolBar-button-box-facet-selected-enabled {
  cursor: pointer;
  margin: 0px;
  border: 1px solid #999999;
  background: #cccccc url( ../image/toolbarButtonBoxFacetSelectEnabled.gif ) repeat-x top;
}

.tobago-toolBar-button-disabled {
  color: #808080;
}

.tobago-toolBar-button-selected-disabled {
  margin: 0px;
  border-top: 1px solid #808080;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #808080;
  background: #dddddd;
}

.tobago-toolBar-button-menu {
  width: 15px;
  height: 15px;
}

/*
  ! css classes tobago-toolBar-button-hover and tobago-toolBar-button-menu-focus
    should have the same content, but needs different names !
*/
.tobago-toolBar-button-hover {
  border: 1px solid black;
  background: #c5c5c5;
  margin: 0px;
}

.tobago-toolBar-button-menu-focus {
  border: 1px solid black;
  background: #bbbbbb;
  margin: 0px;
}

.tobago-toolBar-button-label {
  padding-left: 5px;
}

/* Validation --------------------------------------------------------------- */
.tobago-validation-message {
  color: #FF0000;
  font: bold 12px arial, helvetica, sans-serif;
}

/* - Calendar --------------------------------------------------------------- */
.tobago-calendar-header {
  text-decoration: underline;
}

.tobago-calendar-day {
  font: 12px arial, helvetica, sans-serif;
}

.tobago-calendar-day-disabled {
  font: 12px arial, helvetica, sans-serif;
  color: #333333;
}

.tobago-calendar-day-selected {
  font: bold 12px arial, helvetica, sans-serif;
  color: #660000;
  border: 1px dotted #660000;
  background: #FFFFFF;
  height: 18px;
}

.tobago-calendar-inner-header {
  font: bold 14px arial, helvetica, sans-serif;
  color: #660000;
}


